<div class="journal-entry-wrapper">

  <div class="header">
    <div class="name">
      <span class="header__name">Journal Entry</span>
    </div>
    <div class="links">
      <%= link_to 'Order checks', '#', class: 'header__check_link' %>
      <%= link_to 'Go Back to Transactions', transaction_path, class: 'header__back_link' %>
    </div>
  </div>

  <div class="journal-entry-form">

    <div class="error">
      <div class="message">
        <span class="error__message"><i class="fa fa-warning fa-lg">&nbsp&nbsp</i>Something’s not quite right</span>
      </div>
      <div class="details">
        <span class="error__detail_message"></span>
      </div>
    </div>

    <div class="date">
      <div class="label">
        <%= label_tag :journal_date %>
      </div>
      <div class="text-field">
        <i class="fa fa-calendar journal-entry-wrapper__calendar"></i>
        <%= text_field_tag :happened_at, folder.happened_at.to_date, class: 'journal-entry-form__happened_at' %>
      </div>
    </div>

    <div class="journal-entry-table-wrapper">
      <table class="journal-entry-table">

        <thead>
        <tr class="header">
          <th>#</th>
          <th>Account</th>
          <th>Debits</th>
          <th>Credits</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
          <% folder.journal_transactions.each_with_index do |transaction, index| %>
            <tr class="body">
              <td><%= index += 1 %></td>
              <td><%= select_tag :account, options_from_collection_for_select(Account.order(:name), 'id', 'name', transaction.account_id), {prompt: 'Select Account'} %></td>
              <td contenteditable="true"><%= transaction.amount if transaction.debit? %></td>
              <td contenteditable="true"><%= transaction.amount if transaction.credit? %></td>
              <td contenteditable="true"></td>
              <td><a href="" onclick="return true"><i class="fa fa-remove journal-entry-table__remove_line"></i></a></td>
            </tr>
          <% end %>

          <% counter = folder.journal_transactions.count %>
          <% (5 - counter).times do %>
            <tr class="body">
              <td><%= counter += 1 %></td>
              <td><%= select_tag :account, options_from_collection_for_select(Account.order(:name), 'id', 'name'), {prompt: 'Select Account'} %></td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
              <td contenteditable="true"></td>
              <td><a href="" onclick="return true"><i class="fa fa-remove journal-entry-table__remove_line"></i></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="buttons">
        <%= link_to 'Add a line', '', class: 'journal-entry-table__add_a_line' %>
        <%= link_to 'Clear lines', '', class: 'journal-entry-table__clear_lines' %>
      </div>

      <div class="memo">
        <div class="label">
          <%= label_tag :memo %>
        </div>
        <div class="text">
          <%= text_area_tag :memo, folder.memo %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="cancel">
        <%= link_to 'Cancel', transaction_path, class: 'journal-entry-form__button' %>
      </div>
      <div class="save-buttons">
        <%= link_to 'Save', '', class: 'journal-entry-form__button journal-entry-form__button__update', data: {folder_id: folder.id} %>
      </div>
    </div>
  </div>
</div>