$destroy-link-color: rgba(#c75454, 0.8);
$destroy-link-color-hover: #c75454;
$form-background-color: #fff;
$form-border-color: #ccc;

$save-button-background-color: #fff;
$save-button-text-color: #444;

// Styles for all input type forms
body.inputs.show {
  .fixed-save-bar {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);

    p {
      margin: 0 15px;
      font-size: 14px;

      .fa {
        margin: 0 5px;
      }
    }

    .actions .discard {
      color: $save-button-background-color;
      cursor: pointer;
      text-decoration: none;
      margin: 20px;
      font-weight: bold;
    }

    .actions .save {
      @include button($save-button-background-color, $save-button-text-color);
      margin: 10px 16px;
    }
  }

  .dashboard-content {
    min-width: 815px;
    padding-bottom: 250px;
  }

  .panel .content {
    padding-top: 8px;
  }

  .input-form {
    min-height: 135px;
    position: relative;

    .links {
      @include clearfix;
    }

    .product-sort-handle,
    .revenues-sort-handle {
      float: left;
      margin-top: 30px;
      padding: 15px 8px;
      margin-right: 15px;
      color: #aaa;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    .destroy {
      color: $destroy-link-color;
      cursor: pointer;
      display: block;
      float: left;
      padding: 14px 0;
      text-decoration: none;

      &:hover {
        color: $destroy-link-color-hover;
      }
    }
  }

  .add-button {
    cursor: pointer;
  }

  .product-fields {
    @include clearfix;
    background: $form-background-color;
    font-size: 13px;

    .destroy {
      margin-top: 31px;
    }

    .product-group-split {
      margin-top: 20px;
    }

    .input {
      float: left;
      padding-right: 0;

      input:not([type="checkbox"]) {
        font-size: 13px;
        width: 100%;

        &[data-autonumeric='{"mDec":2}'] {
          width: 70px;
        }

        &[data-autonumeric='{"aSign":"$","mDec":2}'] {
          width: 105px;
        }
      }

      &.year_inputs_products_crop_names,
      &.year_revenues_crop_names {
        width: 225px;

        input {
          width: 100px;
        }
      }

      &.description {
        width: 150px;
      }

      &.price {
        width: 130px;
        input {
          text-align: right;
        }
      }

      &.liquid {
        min-width: 60px;
        text-align: center;

        input,
        label {
          cursor: pointer;
        }

        input {
          margin: 12px 0;
        }
      }

      &.multiplier input {
        text-align: right;
        width: 110px;
      }

      &.coverage-amount {
        width: 145px;
      }

      &.gallons input,
      &.density input,
      &.aph input {
        text-align: right;
        width: 70px;
      }

      &.density {
        min-width: 70px;

        span {
          color: $grey;
          display: block;
          margin-top: 8px;
          text-align: center;
        }

        & > div {
          display: inline-block;
        }
      }

      &.units {
        margin-top: 33px;
        padding-left: 0.5em;
        padding-top: 15px;

        select {
          margin: 0;
        }
      }

      &:not(.units) {
        label {
          display: block;
          padding-bottom: 0.3em;
        }
      }
    }

    &:first-of-type .input.multiplier label {
      height: 31px;
    }

    &:not(:first-of-type) {
      .input:not(.units) label {
        display: none;

        + label {
          display: block;
          padding: 4px;
        }
      }

      .destroy,
      .units,
      .product-sort-handle,
      .revenues-sort-handle {
        margin-top: 0;
      }
    }
  }

  .amount-applied {
    display: block;
    text-align: right;
    width: 140px;

    span {
      display: block;
      font-size: 14px;
      padding: 8px 0;
    }
  }
}

// Form styles specific to each input type
body.inputs.show {
  .year_inputs_products_coverage_amount {
    text-align: center;
    width: 140px;

    select {
      width: 60%;
    }
  }

  .input-form .title {
    @include display(flex);
    @include flex-flow(row nowrap);

    .title-content {
      @include flex(1);
    }
  }

  .sort-handle {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    position: relative;

    &::after {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);

      bottom: 0;
      color: $grey;
      content: "\2630";
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
    }
  }

  .placeholder {
    @include display(flex);
    margin: 16px;
    padding: 10px;
    position: relative;

    &::after {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);

      bottom: 0;
      color: $grey;
      content: "Insert Here";
      font-size: 2em;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
    }
  }
}
