$form-padding: 16px;

body.contracts.new,
body.contracts.edit {
  .new-delivery-location {
    color: $link-color;
    font-size: 13px;
    margin-left: 5px;
  }

  input.basis:disabled,
  input.cash-price:disabled,
  input.futures-price:disabled {
    background: transparent;
    border: 0;
    color: #444;
  }

  .input.select {
    padding: 0 $form-padding;
  }

  .date-picker input {
    width: 135px;
  }

  .pikaday-binding {
    float: left;
    width: auto;
  }
}
