$count-color: rgba($harvest-profit-green, 0.4);
$count-font-size: 11px;

body.contracts.index {
  .dashboard-content {
    padding-bottom: 150px;
  }

  .crop-summary {
    .crop-name {
      display: none;
    }

    .content {
      padding: 16px 16px 10px;
    }

    .loading-view {
      padding: 0.4em 1em 1.45em;
    }
  }

  .no-contracts {
    margin: 16px;
  }

  .title {
    @include clearfix;
  }

  .edit {
    float: left;
  }

  table {
    .bushels {
      width: 8%;
    }

    .delivery-location,
    .strategy {
      width: 17%;
    }

    .futures-month,
    .delivery-period {
      width: 12%;
    }

    .futures-price,
    .strike-price {
      width: 10%;
    }

    .basis {
      width: 10%;
    }

    .discount-premium {
      width: 10%;
    }

    .cash-price {
      width: 10%;
    }

    .number-of-contracts {
      width: 10%;
    }

    .percentage-of-production {
      width: 16%;
    }
  }

  fieldset {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #797979;
    margin: 32px 16px;
    padding: 0 16px;

    legend {
      color: #797979;
      font-weight: bold;
      padding: 0 3px;
      text-transform: uppercase;
    }

    .panel {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
