body.applications.index {
  .application.panel > form > .title {
    @include clearfix;
    box-shadow: $panel-box-shadow;
    padding: 0;

    .field-name {
      float: left;
      margin: 0;
      min-width: 140px;
      padding: 12px 0 0 16px;
      width: 15%;
    }

    .name {
      display: block;
    }

    .acres {
      color: color($grey, 500);
      font-size: 0.7em;
      font-weight: normal;
      text-transform: none;
    }

    .add-application-link,
    .destroy-application-link {
      @include transition(opacity 100ms ease);
      display: block;
      font-size: 0.8em;
      font-weight: normal;
      opacity: 0.3;
      padding: 2px 0 4px;
      text-decoration: none;
      text-transform: none;

      i {
        display: inline-block;
        text-align: center;
        width: 14px;
      }
    }

    &:hover .add-application-link,
    &:hover .destroy-application-link {
      opacity: 1;
    }

    .destroy-application-link {
      color: $destroy-link-color;
      padding-top: 6px;
    }

    .application-fields {
      float: left;
      margin: 0;
      min-width: 670px;
      width: 65%;
    }

    .expand {
      color: $harvest-profit-green;
      cursor: pointer;
      float: right;
      font-weight: normal;
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      text-transform: none;

      &.loading {
        color: rgba($harvest-profit-green, 0.5);

        .fa-spinner {
          color: $grey;
          margin-right: 8px;
        }
      }
    }

    .input {
      float: left;
      margin-left: 7%;
      padding-left: 0;
      padding-right: 0;

      &.select {
        margin-left: 10px;
      }
    }

    label {
      margin-right: 4px;
      text-transform: none;

      + select {
        margin-left: 2px;
      }
    }

    input[type="text"] {
      background-color: lighten($input-background-color, 5%);
      font-weight: normal;
      width: 75px;
    }

    select {
      max-width: 130px;
    }

    .hidden {
      display: none;
    }

    .submit {
      padding-bottom: 0;
    }

    input[type="submit"] {
      margin-top: 4px;
      min-width: 84px;
      text-align: center;
    }
  }
}
