$destroy-link-color: rgba(#c75454, 0.8);
$destroy-link-color-hover: #c75454;

@include keyframes(pulsate-cost-value) {
  0% {
    color: $grey;
  }

  5% {
    color: $grey;
  }

  50% {
    color: color($grey, 400);
  }

  90% {
    color: $grey;
  }

  100% {
    color: $grey;
  }
}

@include keyframes(pulsate-total-cost-amount) {
  0% {
    color: #444;
  }

  10% {
    color: #444;
  }

  50% {
    color: #999;
  }

  90% {
    color: #444;
  }

  100% {
    color: #444;
  }
}

body.applications.index {
  .application.panel > form > .content {
    padding: 16px 0 0;

    .line-item-fields .input {
      float: none;
    }

    label {
      display: block;
    }

    input[type="text"] {
      margin-right: 5px;
      width: 90px;

      + input + label {
        display: inline-block;
      }
    }
  }

  .fuel-and-other {
    @include has-columns(1, $gutter: 16px);
  }

  .copy.action {
    font-weight: normal;
    text-decoration: none;
  }

  .copy-line-items {
    ul {
      list-style-type: none;
      padding-left: 1em;
    }

    label {
      cursor: pointer;
      font-weight: normal;
    }

    input[type="checkbox"] {
      margin-right: 3px;
    }

    .submit {
      margin-top: 2em;
    }
  }

  .copy-to-applications {
    @include columns(4);
  }

  .line-item-fields {
    margin: 1em 0;

    .input {
      padding: 0;
    }
  }

  .line-item-fields.with-product {
    .toggle-line-item-split {
      display: none;
    }

    .toggle-line-item-split:not(:checked) ~ .line-item-title {
      .split-line-item {
        display: block !important;
      }

      .split-line-item.revert {
        display: none !important;
      }
    }

    .toggle-line-item-split:checked ~ .line-item-title {
      .split-line-item {
        display: none !important;
      }

      .split-line-item.revert {
        display: block !important;
      }
    }

    .toggle-line-item-split:not(:checked) ~ .line-item-content .split-field {
      display: none !important;
    }




    .line-item-title {
      @include display(flex);
      @include flex-flow(row nowrap);

      background-color: color($grey, 200);
      color: color($grey, 700);
      font-size: 14px;
      font-weight: normal;
      padding: 2px 8px;

      .label {
        color: inherit;
        @include flex(1);
        font-size: inherit;
        font-weight: inherit;
        padding: 0;
      }

      .actions {
        .action {
          color: $harvest-profit-green;
          cursor: pointer;
          font-size: inherit;
          font-weight: inherit;
          padding: 0;
          text-decoration: underline;

          &.revert {
            color: $destroy-link-color;
          }
        }
      }

    }

    .costs {
      @include has-columns(2);
      color: $grey;
      font-size: 11px;
      text-align: center;
      width: auto;
    }

    .price-per-unit,
    .cost-per-acre {
      border: 1px solid color($grey, 200);
      border-top: 0;
      padding: 4px 0;
    }

    .cost-per-acre {
      border-left: 0;
    }

    .line-item-content {
      border: 1px solid color($grey, 200);
      border-top: 0;
      padding: 8px;

      > div:not(:first-child) {
        padding-top: 5px;
      }
    }

    .amount-field,
    .split-field {
      @include has-columns(2);
    }

    .amount-field span:first-of-type,
    .split-field span:first-of-type {
      padding-right: 3px;
      text-align: right;
      width: 55%;
    }
  }

  .line-item-fields.other,
  .line-item-fields.misc-revenue {
    label.name {
      background-color: color($grey, 200);
      color: color($grey, 700);
      font-weight: normal;
      padding: 2px 8px;
    }

    .destroy {
      color: $destroy-link-color;
      float: right;

      &:hover {
        color: $destroy-link-color-hover;
      }
    }

    .name-field,
    .price-field {
      border: 1px solid color($grey, 200);
      border-top: 0;
      padding: 6px 8px 8px;
      text-align: center;

      small {
        color: color($grey, 600);
        display: inline-block;
        font-size: 12px;
        text-align: left;
        width: 92%;
      }
    }
  }

  .application-cost {
    .input {
      padding: 0;
    }

    label {
      background-color: color($grey, 200);
      color: color($grey, 700);
      font-weight: normal;
      padding: 2px 8px;
    }

    .cost-field {
      @include has-columns(2);
      border: 1px solid color($grey, 200);
      border-top: 0;
      color: color($grey, 600);
      font-size: 14px;
      padding: 8px;
    }

    .cost-field span:first-of-type {
      padding-right: 3px;
      text-align: right;
      width: 55%;
    }

    .cost-field span:last-of-type {
      line-height: 2.5em;
    }
  }

  .title > .total-cost .total-cost-amount {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    padding-top: 2px;
    text-transform: none;
  }

  .content > .total-cost {
    @include has-columns(2);
    font-size: 14px;
    margin-top: 1em;

    label {
      padding: 0;
    }

    .total-cost-amount {
      text-align: right;
    }
  }

  form.saving {
    .costs {
      @include animation(pulsate-cost-value 1.5s ease infinite);
    }

    .total-cost-amount {
      @include animation(pulsate-total-cost-amount 1.5s ease infinite);
    }
  }
}
