body.applications.index {
  .dashboard-content {
    @include has-cards(1, $margin: 16px);
    padding-bottom: 50px;

    .fixed-save-bar {
      margin: 0;
      width: auto;
    }
  }

  .application.panel {
    background-color: transparent;
    box-shadow: none;

    .title .input {
      padding-top: 14px;
    }

    .title .expand {
      padding-top: 24px;
    }
  }

  .application.panel.additional {
    border-top: 1px solid #eee;
    margin-top: -16px;

    .field-name .name {
      display: none;
    }

    .acres {
      display: none;
    }

    .title .input {
      padding-top: 8px;
    }

    .title .expand {
      padding-top: 16px;
    }
  }

  .application.panel > form > .content .panel.other {
    .input.name input[type="text"] {
      width: 92%;
    }

    .misc-revenue,
    .misc-expenses {
      margin-top: 20px;

      .title {
        background: transparent;
        border-bottom: 1px solid #ccc;
        padding: 5px;
      }

      .content {
        @include clearfix;
        min-height: 70px;
        padding-bottom: 3em;
        position: relative;
      }
    }
  }

  .application.panel > form > .content {
    @include has-columns(4, $gutter: 16px);
    @include align-items(flex-start);

    > div {
      margin-left: 0;
      margin-top: 0;
    }

    > .panel {
      @include flex-grow(1);

      .content {
        padding: 0 16px 16px;
      }
    }

    > .seed.panel {
      @include flex-grow(2);
    }
  }

  .land-cost.panel {
    .content {
      @include has-columns(2);
    }

    small {
      color: lighten($label-text-color, 20%);
      display: block;
      font-size: 0.7em;
      padding: 2px 3px;
    }
  }
}
