$destroy-link-color: #c73232;
$error-color: #ca133d;
$form-padding: 16px;
$input-background-color: #fafafa;
$input-background-color-focused: #fff;
$input-border-color: #eee;
$input-border-color-focused: #e0e0e0;
$input-border-radius: 2px;
$input-font-size: 14px;
$input-padding: $form-padding / 2;
$input-text-color: rgba(0, 0, 0, 0.6);
$label-text-color: #444;
$label-font-size: 14px;
