$add-button-background-color: $harvest-profit-green;
$add-button-border-color: #8caf8e;
$add-button-text-color: #fff;

.add-button {
  @include transition(all 300ms);
  background-color: $add-button-background-color;
  border: 1px solid $add-button-border-color;
  border-radius: 20px;
  bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: $add-button-text-color;
  display: block;
  font-size: 28px;
  font-weight: bold;
  height: 40px;
  line-height: 37px;
  position: absolute;
  right: 16px;
  text-align: center;
  text-decoration: none;
  width: 40px;

  &:hover {
    background-color: darken($add-button-background-color, 5%);
    color: $add-button-text-color;
  }

  &:active {
    background-color: darken($add-button-background-color, 5%);
    box-shadow: none;
    color: $add-button-text-color;
  }
}
