$autocomplete-background-color: #fff;
$autocomplete-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
$autocomplete-highlight-color: #000;
$autocomplete-item-height: 40px;
$autocomplete-max-items: 5;
$autocomplete-selected-color: $harvest-profit-green;

.awesomplete {
  display: inline-block;
  position: relative;

  ul {
    background-color: $autocomplete-background-color;
    box-shadow: $autocomplete-box-shadow;
    left: 2px;
    list-style-type: none;
    margin: 0;
    max-height: $autocomplete-item-height * $autocomplete-max-items;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 2;
  }

  li {
    cursor: pointer;
    height: $autocomplete-item-height;
    line-height: $autocomplete-item-height;
    padding: 0 0.5em;
    white-space: nowrap;

    &:hover,
    &[aria-selected="true"] {
      background-color: $autocomplete-selected-color;
    }
  }

  mark {
    background-color: transparent;
    color: $autocomplete-highlight-color;
    font-weight: bold;
  }

  .visually-hidden {
    position: absolute;
    visibility: hidden;
  }
}
