.breakdown-table {
  @include has-columns($mobile: true);
  text-align: right;

  .label-column {
    min-width: 180px;
    text-align: left;
  }

  .amount-column,
  .crop-column,
  .total-column {
    width: 200px;
  }

  .row {
    border-top: 1px solid #ddd;
    color: #797979;
    padding: 8px;

    &.header {
      border-bottom: 1px solid #ddd;
      border-top: 0;
      color: #666;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .cost.row,
  .revenue.row {
    color: #999;
    font-size: 0.75em;
    padding: 5px 8px;
  }

  .total.row {
    font-weight: bold;
  }
}
