@import "jquery.tagsinput";

$tag-background-color: lighten($harvest-profit-green, 20%);
$tag-border-color: darken($harvest-profit-green, 5%);
$tag-color: darken($harvest-profit-green, 25%);

// SO MUCH !important because of the inline styles added by the tags library
div.tagsinput {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  margin-top: 2px;
  min-height: 36px !important;
  overflow-y: visible;
  padding: 0;
  position: relative;
  top: -2px;

  .awesomplete input {
    cursor: pointer;
  }

  input {
    background-color: transparent !important;
    border: 0 !important;
    display: inline-block !important;
    margin-bottom: 0;
  }

  span.tag {
    background: $tag-background-color;
    border: 1px solid $tag-border-color;
    border-radius: 2px;
    color: $tag-color;
    display: block;
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    margin: 3px 0 0 3px;
    padding: 5px 5px 6px;
    text-decoration: none;

    a {
      color: $tag-color;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
