$save-bar-background-color: rgba($harvest-profit-green, 0.85);
$save-bar-height: 50px;
$save-button-background-color: #fff;
$save-button-text-color: #444;

.fixed-save-bar {
  background-color: $save-bar-background-color;
  bottom: 0;
  display: block;
  height: $save-bar-height;
  left: $dashboard-navigation-width;
  margin: 0;
  position: fixed;
  right: 0;
  width: auto;
  z-index: 2;

  .note {
    float: left;
    font-size: 12px;
    margin: 16px;
  }

  .last-saved-at {
    float: right;
    font-size: 12px;
    margin: 16px 8px;
  }

  input {
    @include button($save-button-background-color, $save-button-text-color);
    float: right;
    margin: 10px 16px;
  }
}
