$button-background-color: $harvest-profit-green;
$button-background-color-hover: lighten($button-background-color, 3%);
$button-background-color-active: lighten($button-background-color, 7%);
$button-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$button-box-shadow-hover: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
$button-font-size: 45px;
$button-size: 60px;
$description-font-color: #fff;
$small-button-background-color: adjust-hue($button-background-color, 80deg);
$small-button-background-color-hover: lighten($small-button-background-color, 3%);
$small-button-background-color-active: lighten($small-button-background-color, 7%);
$small-button-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.10);
$small-button-box-shadow-hover: 0 1px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 10px 0 rgba(0, 0, 0, 0.14);
$transition-timing: cubic-bezier(0.25, 0.8, 0.25, 1);

.floating-button {
  @include user-select(none);
  bottom: $button-size;
  position: fixed;
  right: $button-size;
  text-align: center;
  z-index: 100;

  > .button {
    border-radius: $button-size / 2;
    box-shadow: $button-box-shadow;
    display: block;
    font-size: $button-font-size;
    font-weight: 300;
    height: $button-size;
    line-height: $button-size - 5px;
    padding: 0;
    position: relative;
    width: $button-size;
    z-index: 2;

    &:hover {
      background-color: $button-background-color-hover;
      box-shadow: $button-box-shadow-hover;
    }

    &:active {
      background-color: $button-background-color-active;
    }
  }

  ul {
    font-size: 13px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 3px;
    top: -12px;
    width: 500px;
  }

  li {
    @include clearfix;
    @include transform(translateZ(0) translate3d(0, 0, 0));
    @include transition(all 250ms $transition-timing);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  ul .button {
    background-color: $small-button-background-color;
    border-color: $small-button-background-color;
    border-radius: ($button-size * 0.9) / 2;
    box-shadow: $button-box-shadow;
    float: right;
    height: $button-size * 0.9;
    line-height: $button-size * 0.9 - 3px;
    padding: 0;
    width: $button-size * 0.9;


    &:hover {
      background-color: $small-button-background-color-hover;
      box-shadow: $small-button-box-shadow-hover;
    }

    &:active {
      background-color: $small-button-background-color-active;
    }
  }

  .description {
    @include transition(opacity 100ms $transition-timing);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    color: $description-font-color;
    float: right;
    height: 22px;
    line-height: 22px;
    margin: 15px 10px 0 0;
    opacity: 0;
    padding: 0 8px;
  }

  &.active {
    li {
      opacity: 1;

      &:hover .description {
        opacity: 1;
      }
    }

    @each $count in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 {
      li:nth-of-type(#{$count}) {
        @include transform(translateZ(0) translate3d(0, -$count * 75px, 0));
      }
    }
  }
}
