form ,
.v-form {
  @include clearfix;

  .input {
    @include clearfix;
    padding: ($form-padding / 2) $form-padding;

    &.select {
      padding-top: ($form-padding / 2) + 3px;
    }
  }

  label {
    color: $label-text-color;
    font-size: $label-font-size;
    font-weight: bold;
    padding: $input-padding 0;

    small {
      color: lighten($label-text-color, 20%);
      display: block;
      font-size: $label-font-size * 0.8;
      font-weight: normal;
      padding: 1px 0 3px;
    }
  }

  textarea,
  #{$all-text-inputs} {
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    color: $input-text-color;
    font-size: $input-font-size;
    outline: none;
    padding: $input-padding;

    &:focus {
      background-color: $input-background-color-focused;
      border-color: $input-border-color-focused;
    }
  }

  select {
    margin: $input-padding 0;
  }

  input[data-autonumeric='{"mDec":0}'],
  input[data-autonumeric='{"mDec":1}'],
  input[data-autonumeric='{"mDec":2}'],
  input[data-autonumeric='{"aSign":"$","mDec":2}'],
  input[data-autonumeric='{"aSign":"$","mDec":3}'],
  input[data-autonumeric='{"aSign":"%","mDec":0,"pSign":"s"}'] {
    text-align: right;
  }

  .field-with-errors {
    label {
      color: $error-color;
    }
  }

  .error {
    color: $error-color;
    font-size: 13px;
  }

  .input.submit {
    padding: ($form-padding / 2) ($form-padding / 2) $form-padding;

    button,
    input[type="submit"],
    .button {
      margin: 0;
      max-width: 100%;
    }

    .destroy {
      color: $destroy-link-color;
      font-size: 14px;
      margin-left: 16px;
      text-decoration: none;

      i {
        margin-right: 3px;
      }

      &:hover {
        color: darken($destroy-link-color, 20%);
      }
    }
  }

  &.vertical {
    label {
      @include span-columns(3);
      text-align: right;
    }

    textarea,
    #{$all-text-inputs} {
      @include span-columns(9);
      @include omega;
      max-width: 300px;
    }

    .error {
      @include span-columns(9);
      @include shift(3);
      @include omega;
    }

    .input.submit {
      @include span-columns(9);
      @include shift(3);
      @include omega;
    }
  }
}
