@font-face {
  font-family: "Harvest Profit";
  src: font-url("Harvest-Profit.eot");
  src: font-url("Harvest-Profit.eot?#iefix") format("embedded-opentype"),
       font-url("Harvest-Profit.woff") format("woff"),
       font-url("Harvest-Profit.ttf") format("truetype"),
       font-url("Harvest-Profit.svg#Harvest-Profit") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]:before {
  display: inline-block;
  font-family: "Harvest Profit";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-logo:before { content: "\0048"; }
