.line-through-text {
  line-height: 0.5;
  text-align: center;
  width: 700px;
  color: color($grey, 300);
  margin: 20px 0;

  & > span {
    display: inline-block;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      border-top: 1px solid;
      top: 2px;
      width: 300px;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
