@include keyframes(active-link) {
  0% {
    color: $link-color-hover;
  }

  50% {
    color: $link-color-active;
  }

  100% {
    color: $link-color-hover;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }

  &.active {
    cursor: wait;

    &:not(.button) {
      @include animation(active-link 1.8s ease infinite);
    }
  }
}
