$panel-background-color: #fff;
$panel-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$panel-padding: 16px;
$panel-title-background-color: #f9f9f9;
$panel-title-text-color: #797979;
$panel-title-small-color: lighten($panel-title-text-color, 15%);

.panel {
  background-color: $panel-background-color;
  border: 0;
  box-shadow: $panel-box-shadow;
  margin: $panel-padding;
  padding: 0;

  .title {
    background-color: $panel-title-background-color;
    color: $panel-title-text-color;
    display: block;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: $panel-padding;
    text-transform: uppercase;
    width: 100%;

    small {
      color: $panel-title-small-color;
      font-weight: normal;
      margin-left: 0.2em;
    }

    .action,
    .filter {
      float: right;
      font-size: 0.9em;
      text-transform: none;
    }
  }

  .content {
    padding: $panel-padding;
  }
}

.blank-panel {
  margin: $panel-padding;
  padding: 0;
}
