.pika-single {
  .pika-button:hover {
    background-color: $grey;
  }

  .is-selected .pika-button {
    background-color: $harvest-profit-green;
    box-shadow: inset 0 1px 3px darken($harvest-profit-green, 5%);
  }
}
