@import "pikaday";

.pikaday-binding {
  color: color($grey, 400);
  cursor: pointer;
  display: block;
  position: relative;
  width: 120px;

  &::after {
    content: "\f073";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 9px;
    width: 20px;
  }

  &:hover {
    color: color($grey, 700);
  }

  + input[type="text"] {
    max-width: 120px;
    padding-right: 32px;
    width: 120px;
  }
}
