$popover-title-height: 49px;

.popover-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.popover {
  background-color: #fff;
  bottom: 25%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  left: 15%;
  margin: 0;
  position: fixed;
  right: 15%;
  top: 10%;
  z-index: 2000;

  .title {
    height: $popover-title-height;
    left: 15%;
    position: fixed;
    right: 15%;
    top: 10%;
    width: auto;
    z-index: 2002;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 25px;
    margin-top: -6px;
    text-decoration: none;

    &:hover {
      color: #777;
    }
  }

  .content {
    bottom: 25%;
    left: 15%;
    margin-top: $popover-title-height;
    overflow-y: auto;
    position: fixed;
    right: 15%;
    top: 10%;
    width: auto;
    z-index: 2001;
  }

  .icon-logo {
    display: block;
    float: left;
    height: 16px;
    margin-right: 5px;
    width: 16px;
  }

  .right-title {
    float: right;
  }
}
