$featured-plan-border-color: $accent-color;
$featured-plan-border-width: 5px;

.pricing-plan-wrapper {
  margin-bottom: 60px;

  .plans {
    @include has-columns(3);
    @include outer-container;
    padding: 50px 12px 24px;
  }

  .plan {
    background-color: $white;
    border: 1px solid color($blue-grey, 200);
    box-shadow: 0 0 4px rgba($grey, 0.5);
    padding: 1em;
  }

  .plan-logo {
    display: block;
    margin: 0.5em auto;
    max-width: 80%;
  }

  .plan-name {
    color: color($grey, 800);
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .price {
    font-size: 25px;
    text-align: center;
  }

  .price-amount {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .dollar-sign {
    font-size: 0.5em;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    top: -0.65em;
  }

  .plan .per-separator {
    display: inline-block;
    font-size: 0.85em;
    font-weight: normal;
    margin: 0 5px 0 -5px;
  }

  .sign-up.call-to-action {
    display: block;
    margin: 1em auto 2em;
    padding: 6px 0;
    text-align: center;
    width: 120px;
  }

  .feature-item {
    font-family: $helvetica;
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 32px;
    position: relative;

    &.highlight {
      font-weight: 500;
    }

    &::before {
      content: "\f00c";
      display: block;
      font-family: "FontAwesome";
      font-weight: normal;
      left: 10px;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  .course-plan,
  .enterprise-plan {
    .sign-up.call-to-action {
      background-color: color($grey, 300);
      border: 1px solid color($grey, 400);
      color: color($grey, 600);
      margin-bottom: 2.1em;

      &:hover {
        background-color: color($grey, 400);
        color: color($grey, 700);
      }
    }
  }

  .course-plan {
    opacity: 0.88;

    .sign-up.call-to-action {
      background-color: color($grey, 200);
      border-color: color($grey, 300);
      color: color($grey, 400);
      cursor: default;
      margin-bottom: 0.4em;
      margin-top: 0;

      &:hover {
        background-color: color($grey, 200);
        color: color($grey, 400);
      }
    }
  }

  .course-release {
    color: color($grey, 600);
    font-size: 0.8em;
    margin-bottom: 1.2em;
    text-align: center;
  }

  .pro-plan {
    border: $featured-plan-border-width solid $featured-plan-border-color;
    min-width: 36%;
    padding-top: 1.2em;
    position: relative;
    z-index: 1;

    .price {
      font-size: 26px;
      margin: 0.5em 0 0.8em;
    }

    .sign-up.call-to-action {
      font-size: 1.3em;
      margin-bottom: 0.1em;
      margin-top: 0.8em;
      width: 180px;
    }

    .free-demo {
      color: color($grey, 500);
      display: block;
      font-size: 0.95em;
      margin-bottom: 1.1em;
      text-align: center;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .enterprise-plan {
    opacity: 0.88;

    .per-separator {
      margin: 0 5px 0 -6px;
    }

    .star {
      color: lighten(color($grey, 600), 5%);
      display: inline-block;
      font-size: 0.8em;
      margin-left: 2px;
      position: relative;
      top: -2px;
    }

    .sign-up.call-to-action {
      width: 160px;
    }
  }

  .consulting-services {
    color: color($grey, 600);
    font-size: 0.78em;
    line-height: 1.3;
    margin: 1em 0 0.5em;
    text-align: center;

    .star {
      margin-left: -5px;
      margin-right: 2px;
    }
  }

  .market-wise-services {
    display: inline-block;

  }

  @media (min-width: $mobile-breakpoint + 1px) {
    .course-plan {
      border-right: 0;
    }

    .pro-plan {
      border-bottom: 0;
      top: -50px;

      &::after {
        background-color: $white;
        border: $featured-plan-border-width solid $featured-plan-border-color;
        border-top: 0;
        box-shadow: 1px 1px 4px rgba($grey, 0.5);
        content: "";
        display: block;
        height: 70px;
        left: -$featured-plan-border-width;
        position: absolute;
        right: -$featured-plan-border-width;
        top: 100%;
        z-index: 2;
      }

      &::before {
        background-color: $white;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 3;
      }
    }

    .enterprise-plan {
      border-left: 0;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    h1 {
      font-size: 30px;
      margin-bottom: 0.5em;

      br {
        display: none;
      }
    }

    h2 {
      font-size: 15px;
      margin-bottom: 0.1em;
      max-width: 80%;
    }

    .plans {
      padding-top: 2em;

      > .plan {
        margin: 0 auto 1em;
        max-width: 400px;
      }

      > .plan:last-of-type {
        margin-bottom: 1em;
      }
    }

    .course-plan {
      @include order(3);
    }

    .pro-plan {
      @include order(1);
    }

    .enterprise-plan {
      @include order(2);
    }
  }
}
