.sortable-table .sort-handle {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  text-align: center;
  vertical-align: middle !important;
}

.ui-sortable-helper {
  box-shadow: 3px 3px 12px color($grey, 700);
}
