$table-background-color: #fff;
$table-border-color: #ddd;
$table-header-text-color: #666;
$table-padding: 8px;
$table-text-color: #797979;

table {
  background-color: $table-background-color;
  border-collapse: collapse;
  width: 100%;

  th {
    border-bottom: 2px solid $table-border-color;
    color: $table-header-text-color;
    padding: $table-padding;
    text-align: left;

    &.number {
      text-align: right;
    }
  }

  td {
    border-top: 1px solid $table-border-color;
    color: $table-text-color;
    padding: $table-padding;
    text-align: left;

    &.number {
      text-align: right;
    }
  }

  .edit {
    text-decoration: none;
  }
}
