.hp-tip {
  display: inline-block;
  position: relative;

  .hp-tip-hint {
    @include align-items(center);
    @include display(inline-flex);
    @include justify-content(center);
    background: rgba($black, 0.55);
    border-radius: 100%;
    color: $white;
    cursor: pointer;
    font-weight: normal;
    height: 20px;
    width: 20px;

    &:hover ~ .hp-tip-description {
      visibility: visible;
    }
  }

  .hp-tip-description {
    background-color: rgba($black, 0.6);
    border-radius: 2px;
    color: $white;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    margin: 15px 10px 0 0;
    padding: 0 8px;
    position: absolute;
    top: 10px;
    visibility: hidden;
    width: 200px;

    &.left {
      left: auto;
      right: 10px;
    }

    &.top {
      bottom: 30px;
      top: auto;
    }

    &.bottom {
      bottom: auto;
      top: 10px;
    }
  }
}
