$v-tag-background: #c7e6c9;
$v-tag-border-color: #6ebf74;
$v-tag-color: #3d8a43;
$v-background: #fafafa;
$v-border: #eee;
$v-border-radius: 2px;

.v-tags {
  @include display(flex);
  @include flex-wrap(wrap);
  background: $v-background;
  border: 1px solid $v-border;
  border-radius: $v-border-radius;
  cursor: text;
  padding: 1px;

  width: 225px;

  > div:not(:last-child) {
    @include display(flex);
    @include align-items(center);
    background: $v-tag-background;
    border: 1px solid $v-tag-border-color;
    border-radius: 2px;
    font-size: 13px;
    margin: 2px 0 0 2px;
    padding: 5px;
    color: $v-tag-color;
    height: 28px;
    cursor: default;

    i {
      cursor: pointer;
      padding: 5px;
      padding-right: 0;
    }
  }

  > div:last-child {

    input {
      height: 28px;
      margin: 2px;
      background: transparent;
      border: 0;
      -webkit-appearance:none;
      outline: none;
      box-shadow: none !important;
      width: 100px !important;

      &:focus {
        background: transparent;
      }
    }
  }
}
