.onboarding-next-button {
  bottom: 25%;
  left: 15%;
  margin: 0;
  overflow: visible;
  position: fixed;
  right: 15%;
  top: 10%;
  z-index: 1001;

  .button {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 1.4em;
    margin-top: 16px;
    padding: 10px 25px;
    position: absolute;
    right: 0;
    top: 100%;

    &:hover {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.36), 0 2px 15px 0 rgba(0, 0, 0, 0.32);
    }

    &:disabled {
      background-color: lighten($harvest-profit-green, 10%);
      box-shadow: none;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
