<div class="barchart-disclaimer">
  <a href="http://www.cmegroup.com/education" target="_blank" class="logo-link">
    <%= image_tag("barchart_disclaimer/cme_logo.png") %>
  </a>

  <a href="http://www.theice.com/" target="_blank" class="logo-link">
    <%= image_tag("barchart_disclaimer/ice_logo.png") %>
  </a>

  <br>

  &copy; 2016
  <a href="http://www.barchartmarketdata.com/home.php" target="_blank">Barchart.com, Inc.</a>
  Quote data provided and hosted by Barchart
  <a href="http://www.barchartmarketdata.com/home.php" target="_blank">Market Data</a>
  Solutions.

  <br>

  Information is provided 'as-is' and solely for informational purposes, not for trading
  purposes or advice, and is delayed. To see all exchange delays and terms of use please see
  <a href="http://fulldemo.websol.barchart.com/demo/futures.php?page=agreement&a=b" target="_blank">disclaimer</a>.
</div>
