<div class="logo">
  <i class="icon-logo"></i>
  <span class="harvest">Accounting</span><span class="profit">App</span>
</div>

<ul class="default">
  <li class="section">
    <span class="title">Finance</span>

    <li class="fields">
      <%= link_to transaction_path do %>
          Transactions
      <% end %>
    </li>

    <li class="fields">
      <%= link_to dynamic_menus_path do %>
          Dynamic Menu
      <% end %>
    </li>

    <li class="fields">
      <%= link_to reports_path do %>
          Reports
      <% end %>
    </li>
  </li>

  <li class="section">
    <span class="title">Settings</span>

    <li class="fields">
      <%= link_to accounts_path do %>
          Chart of Accounts
      <% end %>
    </li>

    <li class="fields">
      <%= link_to vendors_path do %>
          Vendors
      <% end %>
    </li>

    <li class="fields">
      <%= link_to customers_path do %>
          Customers
      <% end %>
    </li>
  </li>
</ul>