<div class="folders">

  <div class="header">
    <div class="name">
      <span class="header__name"><%= title %></span>
    </div>
    <div class="links">
      <%= link_to 'Go Back to Transactions', transaction_path, class: 'header__back_link' %>
    </div>
  </div>

  <div class="folders-table-wrapper">
    <table class="folders-table">
      <thead>
      <tr class="header">
        <th>#</th>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Updated At</th>
      </tr>
      </thead>

      <tbody>
      <% counter = 0 %>
      <% folders.each do |folder| %>
        <tr class="body clickable-row" data-href="<%= get_folder_path(folder) %>">
          <td><%= counter += 1 %></td>
          <td><%= folder.happened_at.strftime("%m/%d/%Y") %></td>
          <td><%= folder.folder_type.humanize.capitalize %> </td>
          <td><%= formatted_amount(folder.amount) %></td>
          <td><%= folder.updated_at.strftime("%m/%d/%Y") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>