// Base Colors
$body-background-color: #eee;
$body-text-color: #444;
$harvest-profit-green: #80c785;

// Link Colors
$link-color: $harvest-profit-green;
$link-color-active: darken($link-color, 10%);
$link-color-hover: lighten($link-color, 5%);

// Dashboard Widget Colors
$change-color-negative: #c75a5a;
$change-color-none: #bbb;
$change-color-positive: #5ac761;
$loading-text-color: #ddd;
$refresh-icon-color: rgba(#797979, 0.3);

// Additional Global Variables
$dashboard-navigation-width: 185px;

@include keyframes(flash-negative) {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: rgba($change-color-negative, 0.3);
    color: darken($change-color-negative, 20%);
  }

  100% {
    background-color: transparent;
  }
}

@include keyframes(flash-positive) {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: rgba($change-color-positive, 0.3);
    color: darken($change-color-positive, 20%);
  }

  100% {
    background-color: transparent;
  }
}
