// ************************************ SHARED

.clear {
  clear: both;
}

@mixin header {
  .header {
    padding: 15px 20px 70px 20px;
    overflow: hidden;

    .name  {
      float: left;

      .header__name {
        font-size: 20px;
      }
    }

    .links {
      float: right;

      a {
        display: inline-block;
        padding-left: 10px;
      }
    }
  }
}

@mixin footer {
  .footer {
    position: fixed;
    bottom: 0;
    width: 86%;
    overflow: hidden;
    padding: 8px 15px;
    background-color: #393a3d;

    .journal-entry-form__button, .print-check-form__button, .transfer-form__button, .expense-form__button {
      background-color: #393a3d;
      font-weight: 600;
      display: inline-block;
      color: white;
      border: 1px solid #6b6c72;
      padding: 4px 18px;
      text-decoration: none;
      border-radius: 4px 2px 2px 2px;
      -moz-border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
    }

    .journal-entry-form__button:hover, .print-check-form__button:hover, .transfer-form__button:hover, .expense-form__button:hover {
      background-color: #2A2B2D;
    }

    .journal-entry-form__button_green, .print-check-form__button_green, .transfer-form__button_green, .expense-form__button_green {
      background-color: #2ca01c;
    }

    .journal-entry-form__button_green:hover, .print-check-form__button_green:hover, .transfer-form__button_green:hover, .expense-form__button_green:hover {
      background-color: #108000;
    }

    .cancel {
      float: left;
    }

    .save-buttons {
      float: right;
    }
  }
}

@mixin error-message {
  .error {
    display: none;
    font-family: Lato, sans-serif;
    font-size: 13px;
    padding: 15px;
    margin: 10px 30px;
    border: 1px solid red;
    background: white;

    .message {
      padding-bottom: 10px;

      .error__message {
        font-weight: 600;
        color: red;
      }
    }

    .details {
      .error__detail_message {
        font-weight: 200;
      }
    }
  }
}

@mixin label {
  label {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 6px;
    padding-left: 2px;
  }
}

@mixin celledTable {
  td, th {
    border-left: 1px dotted #c7c7c7;
  }

  th:first-child, td:first-child {
    border-left: none;
  }

  tr:last-child {
    border-bottom: 2px solid #c7c7c7;
  }

  .body {
    cursor: pointer;

    td {
      font-family: Lato, sans-serif;
      font-weight: 200;
      height: 45px;
    }
  }

  tbody tr:hover {
    background: #f4f5f8;
  }
}

@mixin tableButtons {
  .buttons {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      text-decoration: none;
      padding: 2px 20px;
      border: 1px solid #8d9096;
      color: #393a3d;
      cursor: pointer;
      display: inline-block;
      border-radius: 4px 2px 2px 2px;
      -moz-border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
    }

    a:hover {
      background: #f4f5f8;
    }

    .total_amount {
      float: right;
      padding-top: 20px;
      font-size: 16px;
    }
  }
}

@mixin memo {
  .memo {
    padding-bottom: 40px;

    .text textarea {
      width: 350px;
      height: 70px;
      resize: none;
      background: white;
      padding: 5px;
    }
  }
}

@mixin vendor-and-account {
  .vendor-and-account, .address-and-date, .payment-date-and-payment-method {
    padding: 0 15px 20px 15px;
  }

  .vendor-and-account {

    .vendor, .account, .account-amount {
      padding-right: 10px;
      float: left;
    }

    .total-amount {
      float: right;
      padding-right: 10px;
      font-size: 26px;
    }
  }
}

// ************************************ BALANCE SHEET

.balance-sheet-wrapper {
  position: relative;
  padding-bottom: 40px;

  .balance-sheet__date_time {
    position: absolute;
    right: 80px;
    top: 50px;
    font-family: Lato, sans-serif;
    font-weight: 200;
  }

  .balance-sheet {
    padding: 30px 60px 10px 60px;

    .balance-sheet__name_wrapper {
      overflow: hidden;
      border-bottom: 1px solid black;
      padding: 5px 0;

      .balance-sheet__name {
        font-size: 30px;
        float: left;
      }
    }

    .balance-sheet__sub-accounts {
      padding-bottom: 20px;

      .sub-account {
        font-size: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
      }


      .balance-sheet__detail_types {
        font-family: Lato, sans-serif;
        font-weight: 200;

        .category {
          padding: 10px 30px;
          border-bottom: 1px dashed #ddd;
        }

        .detail_types-total-balance-amount {
          overflow: hidden;
          padding-top: 10px;

          .name {
            font-size: 15px;
            text-transform: uppercase;
            float: left;
          }

          .amount {
            float: right;
            padding-right: 20px;
          }
        }

        .balance-sheet__accounts {
          .account {
            overflow: hidden;
            padding: 10px 20px 10px 60px;

            .account-name {
              float: left;
            }

            .amount {
              float: right;
            }
          }
        }
      }
    }

    .header-accounts-total-balance {
      border-top: 1px solid black;
      font-weight: 700;
      padding: 10px 20px 10px 10px;
      overflow: hidden;


      .name {
        float: left;
        text-transform: uppercase;
      }

      .amount {
        float: right;
      }
    }
  }

  .net-income-wrapper {
    padding: 30px 60px 0 60px;

    .net-income {
      padding: 10px 20px 10px 10px;
      overflow: hidden;
      color: whitesmoke;
      background-color: #404040;
      font-weight: 700;
      font-size: 15px;

      .net-income__name {
        text-transform: uppercase;
        float: left;
      }

      .net-income__amount {
        float: right;
      }

    }
  }
}

// ************************************ NEW JOURNAL ENTRY

.journal-entry-wrapper {
  @include header();

  .journal-entry-form {
    @include error-message();

    .date {
      padding: 0 15px 20px 15px;

      .label {

        @include label();
      }

      .text-field {
        position: relative;

        .journal-entry-wrapper__calendar {
          position: absolute;
          left: 144px;
          top: 8px;
        }

        input {
          border-radius: 2px;
          border: 1px solid #babec5;
          height: 32px;
          padding: 0 8px;
          font-size: 13px;
        }
      }
    }

    .journal-entry-table-wrapper {
      padding: 30px;
      background: white;

      label {
        font-size: 12px;
      }

      .journal-entry-table {

        @include celledTable();
      }

      @include tableButtons();
      @include memo();


      .attachments {
        margin-bottom: 80px;
      }
    }

    @include footer();

  }
}

// ************************************ Date Picker

.picker__holder {
  width: 300px;
}

// ************************************ Chart of Accounts

.panel {
  .title {
    .btn {
      background-color: #80c785;
      border-radius: 2px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .btn-group, .category-type, .detail-type {
      float: left;
      padding-right: 15px;
    }

    .category-type, .detail-type {
      padding-top: 7px;
    }
  }
}

// ************************************ Transactions show page

.transactions-title {
  overflow: hidden;

  .name {
    float: left;
  }

  .transactions-buttons {
    .button-wrapper {
      float: right;
      padding-left: 10px;
    }
  }
}

.transactions {
  overflow: hidden;

  .panel {
    width: 320px;
    float: left;

    .name, .link {
      padding-bottom: 15px;
    }
  }
}

// ************************************ Print Check page

.print-check {
  @include header();

  .print-check-form {
    @include error-message();
    @include footer();
    @include vendor-and-account();

    .address-and-date  {

      .address, .payment-date {
        padding-right: 10px;
        float: left;

        @include label();
      }

      .address {

        .text {
          .print-check-form__address {
            padding: 10px;
            width: 275px;
            height: 80px;
          }
        }
      }

      .payment-date {
        .date {
          position: relative;

          .print_check__calendar {
            position: absolute;
            left: 144px;
            top: 8px;
          }

          input {
            border-radius: 2px;
            border: 1px solid #babec5;
            height: 32px;
            padding: 0 8px;
            font-size: 13px;
          }
        }
      }
    }

    .print-check-table-wrapper {
      min-height: 400px;
      padding: 30px;
      background: white;

      label {
        font-size: 12px;
      }

      .print-check-table {
        @include celledTable();
      }

      @include tableButtons();
      @include memo();
    }
  }
}

.check-print-version {
  display: none;
}

@media print {
  .dashboard-navigation, .print-check {
    display: none;
  }

  .check-print-version {
    display: block;
  }
}

// ************************************ Expense Page

.expense {
  @include header();

  .expense-form {
    @include error-message();
    @include footer();
    @include vendor-and-account();

    .payment-date-and-payment-method {

      .payment-method, .payment-date {
        padding-right: 10px;
        float: left;

        @include label();
      }

      .payment-date {
        .date {
          position: relative;

          .print_check__calendar {
            position: absolute;
            left: 144px;
            top: 8px;
          }

          input {
            border-radius: 2px;
            border: 1px solid #babec5;
            height: 32px;
            padding: 0 8px;
            font-size: 13px;
          }
        }
      }
    }

    .expense-table-wrapper {
      min-height: 400px;
      padding: 30px;
      background: white;

      label {
        font-size: 12px;
      }

      .expense-table {
        @include celledTable();
      }

      @include tableButtons();
      @include memo();
    }
  }
}

// ************************************ Transfer Page

.transfer-wrapper {
  @include header();

  .transfer-form {
    input {
      border: 1px solid #babec5;
    }

    .row {
      padding: 0 20px 20px 20px;

      .transfer-funds-from, .transfer-funds-to, .transfer-amount {
        margin-right: 350px;
      }

      .balance {
        .name {
          padding-bottom: 10px;
        }
      }

      .transfer-funds-from, .transfer-funds-to, .transfer-amount {
        width: 200px;
      }

      .transfer-funds-from, .transfer-funds-to, .balance, .transfer-amount, .date {
        float: left;
      }

      .date {
        position: relative;

        .transfer-form__calendar {
          position: absolute;
          left: 144px;
          top: 31px;
        }
      }

      .memo {
        input {
          width: 550px;
        }
      }
    }

    @include error-message();
    @include footer();
  }
}

// ************************************ Folders index

.folders {
  @include header();

  .folders-table-wrapper {
    padding: 30px;
    background: white;

    label {
      font-size: 12px;
    }

    .folders-table {

      @include celledTable();
    }
  }
}

// Reports Index

.reports {
  .row {
    padding: 10px;

    .name {
      width: 650px;
      margin-right: 50px;
    }

    .filter {
      width: 150px;
    }

    .name, .filter {
      float: left;
    }

    .view {
      float: right;
    }

    .filter {
      .income-statement-filter {
        position: relative;

        .custom-date {
          display: none;
          z-index: 1;
          position: absolute;
          width: 350px;
          height: auto;
          right: 60px;
          padding: 20px;
          background-color: white;
          border: 1px solid rgba(0,0,0,.15);
          mso-border-shadow: 0 4px 0 -1px #ddd;

          .close {
            z-index: 1000;
            position: absolute;
            top: 3px;
            right: 5px;
            width: 17px;
            height: 17px;
          }

          .name {
            span {
              font-family: Lato, sans-serif;
              font-weight: 200;
              font-size: 20px;
              line-height: 1px;
            }

            padding-bottom: 10px;
          }

          .dates {
            input {
              width: 146px;
              height: 38px;
              font-size: 14px;
              border-radius: 3px;
              outline: 0;
              border: 1px solid #babec5;
              padding-left: 10px;
              padding-right: 10px;
              box-shadow: none;
            }

            input:hover {
              border: 1px solid black;
            }

            .start-date {
              float: left;

              .start-date-header {
                font-size: 13px;
                font-weight: bold;
              }
            }

            .end-date {
              float: right;
            }

            .end-date-header {
              font-size: 13px;
              font-weight: bold;
            }
          }

          .apply {
            overflow: hidden;
            margin-top: 15px;

            .apply-button {
              float: right;

              a {
                border: 1px solid black;
                display: inline-block;
                text-decoration:   none;
                padding: 6px 32px;
                background: white;
                font-weight: bold;
                font-size: 13px;
                color: black;
                border-radius: 2px;
              }

              a:hover {
                border: 1px solid grey;
              }
            }
          }
        }
      }
    }

    .balance-sheet-filter {
      position: relative;

      .calendar {
        position: absolute;
        left: 144px;
        top: 8px;
      }

      input {
        border-radius: 2px;
        border: 1px solid #babec5;
        height: 32px;
        padding: 0 8px;
        font-size: 13px;
      }
    }
  }
}
