body.entities.index .dashboard-content {
  td {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .name {
    width: 20%;
  }

  .switch,
  .default {
    text-align: center;
    width: 40%;
  }

  .new a {
    @include button(adjust-hue($button-background-color, 80deg));
  }

  a.active {
    @include animation(none);
  }

  span.active {
    color: $harvest-profit-green;
  }
}
