<div class="panel">
  <div class="content">
    <%= link_to 'All account headers', header_accounts_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Edit an Account Header
  </div>

  <div class="content">
    <%= simple_form_for(header_account, html: { class: "field-form vertical" }) do |f| %>
        <%= f.input :name, disabled: true %>
        <%= f.input :description %>
        <div class="input submit">
          <%= f.button :submit, "Save", class: 'button' %>
          <%= link_to 'Cancel', header_accounts_path, class: 'button' %>
        </div>
    <% end %>
  </div>
</div>