<div class="markets panel">
  <div class="title">
    Header accounts
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">Account Header ID</th>
        <th class="month">Name</th>
        <th class="month">Description</th>
        <th class="number">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% header_accounts.each do |account| %>
          <tr>
            <td class="month"><%= link_to account.id, header_account_path(account) %> </td>
            <td class="month"><%= account.name %></td>
            <td class="month"><%= account.description %> </td>
            <td class="number">
              <%= link_to edit_header_account_path(account), class: '' do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>