<div class="panel">
  <div class="title">
    <%= header_account.name %>
  </div>

  <div class="content">
    <p><b>Account Header ID:</b> <%= header_account.id %> </p>
    <p><b>Name:</b> <%= header_account.name %> </p>
    <p><b>Description:</b> <%= header_account.description %> </p>
  </div>
</div>
<div class="panel">
  <div class="content">
    <%= link_to 'Edit', edit_header_account_path(header_account), class: 'button' %>
    <%= link_to 'All account headers', header_accounts_path, class: 'button' %>
  </div>
</div>