<div class="panel">
  <div class="content">
    <%= link_to 'All detail types', detail_types_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Edit a Detail Type
  </div>

  <%= render 'form', detail_type: detail_type, header_accounts: HeaderAccount.order(:name), category_types: CategoryType.order(:name) %>
</div>