<div class="panel">
  <div class="title">
    <%= link_to 'Chart of Accounts', accounts_path, class: 'button' %>
  </div>
</div>
<div class="markets panel">
  <div class="title">
    All Detail Types 
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">ID</th>
        <th class="month">Category Type</th>
        <th class="month">Name</th>
        <th class="month">Description</th>
        <th class="number">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% detail_types.each do |detail_type| %>
          <tr>
            <td class="month"><%= link_to detail_type.id, detail_type_path(detail_type) %> </td>
            <td class="month"><%= detail_type.category_type.name %></td>
            <td class="month"><%= detail_type.name %> </td>
            <td class="month"><%= detail_type.description %> </td>
            <td class="number">
              <%= link_to edit_detail_type_path(detail_type), class: '' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to detail_type_path(detail_type), method: :delete, data: {confirm: 'Are you sure?'}, class: '' do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>