<div class="panel">
  <div class="content">
    <%= link_to 'Chart of Accounts', accounts_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Create a new Detail Type
  </div>

  <%= render 'form', detail_type: detail_type, header_accounts: header_accounts, category_types: category_types %>
</div>