<div class="panel">
  <div class="title">
    <%= detail_type.name %>
  </div>

  <div class="content">
    <p><b>Category Type:</b> <%= detail_type.category_type.name %> </p>
    <p><b>Name:</b> <%= detail_type.name %> </p>
    <p><b>Description:</b> <%= detail_type.description %> </p>
  </div>
</div>
<div class="panel">
  <div class="content">
    <%= link_to 'Edit', edit_detail_type_path(detail_type), class: 'button' %>
    <%= link_to 'All Detail Types', detail_types_path, class: 'button' %>
  </div>
</div>