<div class="panel">
  <div class="title">
    <%= link_to 'Back', reports_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="content">

    <div class="balance-sheet-wrapper">

      <div class="balance-sheet__date_time">
        <span><%= date %></span>
      </div>

      <% income_statement.each do |header_account| %>

        <div class="balance-sheet">
          <div class="balance-sheet__name_wrapper">
            <div class="balance-sheet__name">
              <span><b><%= header_account.name %></b></span>
            </div>
          </div>

          <% if header_account.category_types.any? %>
            <% header_account.category_types.each do |category_type| %>
              <% if category_type.detail_types.any? %>
                <div class="balance-sheet__sub-accounts">
                  <div class="sub-account">
                    <span><b><%= category_type.name %></b></span>
                  </div>

                  <% if category_type.detail_types.any? %>
                    <% category_type.detail_types.each do |category| %>
                      <% if category.accounts.any? %>
                        <div class="balance-sheet__detail_types">
                          <div class="category">
                            <span><%= category.name %></span>
                          </div>

                          <% category.accounts.each do |account| %>
                            <div class="balance-sheet__accounts">
                              <div class="account">
                                <div class="account-name">
                                  <span><%= account.name %></span>
                                </div>
                                <div class="amount">
                                  <span><%= formatted_amount(account.total_balance_amount) %></span>
                                </div>
                              </div>
                            </div>
                          <% end %>

                          <div class="detail_types-total-balance-amount">
                            <div class="name">
                              <span><b>Total balance</b></span>
                            </div>
                            <div class="amount">
                              <span><b><%= formatted_amount(category.total_balance_amount) %></b></span>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>

            <div class="header-accounts-total-balance">
              <div class="name">
                <span>Total balance</span>
              </div>
              <div class="amount">
                <span><%= formatted_amount(header_account.total_balance_amount) %></span>
              </div>
            </div>

          <% end %>

        </div>

      <% end %>

      <div class="net-income-wrapper">
        <div class="net-income">
          <div class="net-income__name">
            <span>Net Income</span>
          </div>
          <div class="net-income__amount">
            <span><%= formatted_amount(net_income) %></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>