body.pages.markets .dashboard-content {
  .market-crops {
    @include has-cards(3, $margin: 16px);
  }

  .title i {
    color: $refresh-icon-color;
    float: right;
    margin: -1em;
    padding: 1em;
  }

  table {
    .loading {
      color: $loading-text-color;
    }

    .number {
      &.negative {
        color: $change-color-negative;
      }

      &.none {
        color: $change-color-none;
      }

      &.positive {
        color: $change-color-positive;
      }
    }

    .number {
      .negative {
        @include animation(flash-negative 800ms ease-out);
      }

      .positive {
        @include animation(flash-positive 800ms ease-out);
      }
    }
  }
}
