body.dashboards.show .panel .article {
  @include clearfix;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  padding-bottom: 16px;

  &:first-of-type {
    padding-top: 8px;
  }

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .title {
    @include span-columns(9);
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2em;
    padding: 0;
    text-transform: none;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .summary {
    display: none;
  }

  .footer {
    @include span-columns(3);
    line-height: 1.2em;
  }

  i {
    display: none;
  }

  .read-more {
    display: none;
  }
}
