$unsold-background-color: #80aac7;

.crops-summary-dashboard {
  .crop {
    margin-bottom: 32px;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  .crop-name {
    border-bottom: 1px solid color($grey, 200);
    color: color($grey, 700);
    margin: 0 0 5px;
    padding-bottom: 5px;
  }

  .stats {
    @include has-columns(5, 10px);
    color: color($grey, 600);
    font-size: 0.85em;

    .label {
      font-weight: bold;
    }
  }

  .stat {
    text-align: center;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }
  }

  .amount-sold-progress {
    background-color: $unsold-background-color;
    height: 50px;
    margin: 5px 0;
    position: relative;
    z-index: 1;
  }

  .progress {
    background-color: $harvest-profit-green;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .values {
    bottom: 5px;
    color: $white;
    font-weight: 600;
    left: 10px;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: 5px;
    z-index: 3;
  }

  .average-cash-price,
  .production-sold,
  .production-unsold {
    bottom: 0;
    font-size: 0.9em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .average-cash-price {
    top: auto;
  }

  .production-unsold {
    text-align: right;
    top: 10px;
  }

  .no-crops-instructions {
    margin-bottom: 1em;
    text-align: center;

    h4 {
      margin: 0.5em 0;
    }
  }

  .no-crops-actions {
    @include has-columns;
    margin: 1.5em auto 0;
    max-width: 480px;
    text-align: center;

    .button {
      display: inline-block;
      margin-bottom: 1.5em;
    }
  }
}
