body.dashboards.show .dashboard-content .futures-markets {
  .content {
    overflow: auto;
  }

  table {
    min-width: 860px;

    .crop {
      @include clearfix;
      text-align: center;
      width: 33.3%;
    }

    .month {
      color: lighten($body-text-color, 35%);
      display: block;
      float: left;
      text-align: right;
      width: 28%;

      &.loading {
        color: $loading-text-color;
      }
    }

    .futures-price {
      display: block;
      float: left;
      text-align: right;
      width: 30%;

      &.loading {
        color: $loading-text-color;
      }
    }

    .change {
      display: block;
      float: left;
      text-align: right;
      width: 26%;

      &.loading {
        color: $loading-text-color;
      }

      &.negative {
        color: $change-color-negative;
      }

      &.none {
        color: $change-color-none;
      }

      &.positive {
        color: $change-color-positive;
      }
    }

    .futures-price {
      .negative {
        @include animation(flash-negative 800ms ease-out);
      }

      .positive {
        @include animation(flash-positive 800ms ease-out);
      }
    }
  }
}
