body.dashboards.show .dashboard-content {
  @include has-cards(1, $margin: 16px);

  .news-and-notifications {
    @include has-columns(2, $gutter: 16px);
    padding: 0;

    .panel {
      margin-left: 0;
      margin-top: 0;
    }
  }
}
