body.crops.show {
  table {
    th,
    td {
      text-align: center;

      &:first-of-type {
        text-align: left;
      }

      &.number {
        text-align: right;
      }
    }

    .field-name small {
      color: #aaa;
      display: block;
      font-size: 12px;
      margin: -2px 0 2px;
    }
  }

  .crop-name + .crop-name {
    border-top: 1px solid color($grey, 200);
    margin-top: 5px;
    padding-top: 5px;
  }

  .add-application-link,
  .destroy-application-link {
    @include transition(opacity 100ms ease);
    opacity: 0.3;
    padding: 2px;
  }

  td:hover .add-application-link,
  td:hover .destroy-application-link {
    opacity: 1;
  }

  .destroy-application-link {
    color: $destroy-link-color;
  }
}
