$what-if-green: $harvest-profit-green;
$what-if-red: #e57373;
$what-if-yellow: #ffee58;

body.what-if-analyses.index .dashboard-content {
  padding-bottom: 50px;

  .panel .content {
    @include clearfix;
  }

  .inputs {
    @include span-columns(4);

    &:nth-of-type(3) {
      @include omega;
    }
  }

  .input {
    padding: 0 0 4px;

    label {
      display: inline-block;
      text-align: right;
      width: 65%;
    }

    input {
      display: inline-block;
      width: 32%;

      &:disabled {
        background-color: transparent;
        border-color: transparent;
        color: #222;
        opacity: 1;
      }
    }
  }

  .yield-adjustments {
    margin-top: 1.75em;

    > label {
      display: inline-block;
      text-align: right;
      width: 65%;
    }

    .plus,
    .minus {
      display: inline-block;
      width: 16%;

      label {
        display: block;
        text-align: center;

        i {
          font-size: 0.8em;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  #XLEW_2_10_3 {
    font-weight: bold;
    text-align: center;
  }

  table {
    td {
      border: 1px solid #fff;
      padding: 0;
    }

    input {
      font-size: 0.7em;
      text-align: right;
      width: 100%;
    }

    input:not(#XLEW_2_10_18):not(#XLEW_2_11_18) {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      display: block;
      height: 2.5em;
      margin: 0;

      &.cfc1 {
        background-color: $what-if-red;
      }

      &.cfc2 {
        background-color: $what-if-yellow;
      }

      &.cfc3 {
        background-color: $what-if-green;
      }
    }
  }
}
