.settings.popover {
  .basis-settings {
    @include span-columns(6);
  }

  .cash-price-settings {
    @include span-columns(6);
    @include omega;
  }

  .instructions {
    margin-bottom: 1.2em;
    margin-top: 0;
  }

  .no-settings {
    color: #777;
    font-size: 14px;
    margin-top: 40px;
  }

  h4 {
    margin: 0 0 0.2em;

    + small {
      color: #777;
      display: block;
      font-size: 0.7em;
      margin-bottom: 1em;

      i {
        text-align: center;
        width: 12px;
      }
    }
  }

  .price-setting {
    .edit {
      display: inline-block;
      padding: 8px 8px 5px;
      text-decoration: none;

      span {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        padding-top: 2px;
        vertical-align: text-top;
      }
    }

    label {
      width: 40%;
    }

    input[type="text"] {
      width: 70px;
    }

    .saving,
    .error {
      display: inline-block;
      font-size: 0.8em;
      padding: 8px 8px 5px;
    }

    .saving {
      color: #999;
    }

    .error {
      float: none;
      margin: 0;
      width: auto;
    }

    .button {
      margin: 4px 8px;
      padding: 3px 7px 4px;
    }
  }
}
