.crops.popover {
  .crop-form {
    @include span-columns(6);

    form {
      max-width: 350px;
    }
  }

  .crops {
    @include span-columns(6);
    @include omega;

    th small {
      color: #777;
      float: right;
      font-size: 0.7em;
      font-weight: normal;
      line-height: 2em;
    }

    .no-crops td {
      padding-top: 40px;
      text-align: center;
    }
  }

  .button {
    text-align: center;
    width: 112px;

    i {
      width: 16px;
    }

    .saving {
      display: none;
    }

    &:disabled {
      box-shadow: none;
      cursor: wait;

      span {
        display: none;

        &.saving {
          display: inline-block;
        }
      }
    }
  }
}
