<div class="content">
  <%= simple_form_for(customer, html: { class: "field-form vertical" }) do |f| %>
      <%= f.input :name %>
      <%= f.input :email, as: :email %>
      <%= f.input :phone_number %>
      <%= f.input :address %>
      <div class="input submit">
        <%= f.button :submit, "Save", class: 'button' %>
        <%= link_to 'Cancel', customers_path, class: 'button' %>
      </div>
  <% end %>
</div>