<div class="panel">
  <div class="title">
    <%= link_to 'New Customer', new_customer_path, class: 'button' %>
  </div>
</div>
<div class="markets panel">
  <div class="title">
    All Customers
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">Customer</th>
        <th class="month">Phone</th>
        <th class="month">Email</th>
        <th class="number">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% customers.each do |customer| %>
          <tr>
            <td class="month"><%= link_to customer.name, customer_path(customer) %> </td>
            <td class="month"><%= customer.phone_number %></td>
            <td class="month"><%= customer.email %> </td>
            <td class="number">
              <%= link_to edit_customer_path(customer), class: '' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to customer_path(customer), method: :delete, data: {confirm: 'Are you sure?'}, class: '' do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>