<div class="panel">
  <div class="content">
    <%= link_to 'All Customers', customers_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Create Customer
  </div>

  <%= render 'form', customer: customer %>
</div>