<div class="panel">
  <div class="title">
    <%= customer.name %>
  </div>

  <div class="content">
    <p><b>Name:</b>    <%= customer.name %> </p>
    <p><b>Email:</b>   <%= customer.email %> </p>
    <p><b>Phone:</b>   <%= customer.phone_number %> </p>
    <p><b>Address:</b> <%= customer.address %> </p>
  </div>
</div>
<div class="panel">
  <div class="content">
    <%= link_to 'Edit', edit_customer_path(customer), class: 'button' %>
    <%= link_to 'All Customers', customers_path, class: 'button' %>
  </div>
</div>