<div class="panel">
  <div class="title">
    <span>Balance Sheet</span>
  </div>
</div>
<div class="panel">
  <div class="content">

    <div class="balance-sheet-wrapper">
      <% if balance_sheet.any? %>

        <div class="balance-sheet__date_time">
          <span><%= date %></span>
        </div>

        <% balance_sheet.each do |header_account| %>
          <div class="balance-sheet">

            <% if header_account.category_types.any? %>

            <div class="balance-sheet__name_wrapper">
              <div class="balance-sheet__name">
                <span><b><%= header_account.name %></b></span>
              </div>
            </div>

              <% header_account.category_types.each do |category_type| %>

                <% if category_type.detail_types.any? %>
                  <div class="balance-sheet__sub-accounts">
                    <div class="sub-account">
                      <span><b><%= category_type.name %></b></span>
                    </div>

                    <div class="balance-sheet__detail_types">
                      <% category_type.detail_types.each do |category| %>
                          <div class="category">
                            <span><%= category.name %></span>
                          </div>

                        <% if category.accounts.any? %>
                            <% category.accounts.each do |account| %>

                              <div class="balance-sheet__accounts">
                                <div class="account">
                                  <div class="account-name">
                                    <span><%= account.name %></span>
                                  </div>
                                  <div class="amount">
                                    <span><%= formatted_amount(account.total_balance_amount) %></span>
                                  </div>
                                </div>
                              </div>

                            <% end %>

                            <div class="detail_types-total-balance-amount">
                              <div class="name">
                                <span><b>Total balance</b></span>
                              </div>
                              <div class="amount">
                                <span><b><%= formatted_amount(category.total_balance_amount) %></b></span>
                              </div>
                            </div>

                        <% end %>
                      <% end %>
                    </div>

                  </div>
                <% end %>
              <% end %>

              <div class="header-accounts-total-balance">
                <div class="name">
                  <span>Total balance</span>
                </div>
                <div class="amount">
                  <span><%= formatted_amount(header_account.total_balance_amount) %></span>
                </div>
              </div>

            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>