// Available active link classes for the navigation links
$link-classes: "applications", "articles", "contracts", "crop-planner", "dashboards",
               "delivery-locations", "education-articles", "education-categories",
               "entities", "fields", "inputs", "marketing-plans", "markets", "news-articles",
               "profit-loss", "recommendations", "settings", "what-if-analyses";

$logo-background-color: $harvest-profit-green;
$navigation-background-color: #444;
$navigation-link-background-color-active: #fff;
$navigation-link-background-color-hover: lighten($navigation-background-color, 8%);
$navigation-link-color: rgba(#fff, 0.7);
$navigation-link-color-active: #444;
$navigation-link-color-hover: rgba(#fff, 0.9);
$transition-timing: cubic-bezier(0.25, 0.8, 0.25, 1);
$user-dropdown-background-color: darken($navigation-background-color, 5%);

@include keyframes(spinner) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(359deg));
  }
}

.dashboard-navigation {
  background-color: $navigation-background-color;

  .logo {
    background-color: $logo-background-color;
    color: $navigation-background-color;
    font-size: 16px;
    padding: 8px 16px;
    position: relative;

    span {
      display: inline-block;
    }

    .profit {
      font-size: 19px;
      -webkit-font-smoothing: antialiased;
      font-weight: 200;
      margin-left: 4px;
    }
    // 
    // &::after {
    //   color: #fff;
    //   content: "Beta";
    //   bottom: 3px;
    //   font-size: 12px;
    //   font-weight: 400;
    //   opacity: 0.9;
    //   position: absolute;
    //   right: 19px;
    // }
  }

  .icon-logo {
    color: $navigation-background-color;
    font-size: 24px;
    vertical-align: middle;
  }

  .current-user {
    @include clearfix;
    background-color: $user-dropdown-background-color;
    color: rgba($navigation-link-color, 0.6);
    cursor: pointer;
    position: relative;

    .name {
      display: block;
      float: left;
      font-size: 0.8em;
      overflow: hidden;
      padding: 12px 0 12px 16px;
      width: 90%;
    }

    .fa-angle-down {
      display: block;
      float: left;
      padding: 12px 0;
      width: 10%;
    }

    &:hover {
      color: $navigation-link-color-hover;
    }

    .dropdown {
      background-color: $user-dropdown-background-color;
      border-top: 2px solid $navigation-background-color;
      box-shadow: 0 3px 5px rgba(#000, 0.3);
      display: block;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 2;
    }

    a {
      border: 0;
    }
  }

  .upgrade-account a {
    background-color: rgba($blue, 0.95);
    color: rgba($white, 0.9);

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  .section {
    @include transition(opacity 150ms $transition-timing);
    opacity: 1;
  }

  &.active-dropdown .section {
    opacity: 0.2;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 -1px;
    padding: 0;
  }

  .section .title {
    background-color: lighten($navigation-background-color, 5%);
    color: rgba($navigation-link-color, 0.6);
    display: block;
    font-size: 12px;
    padding: 8px 16px;
    text-transform: uppercase;
  }

  a {
    border-bottom: 1px solid $navigation-background-color;
    border-top: 1px solid $navigation-background-color;
    color: $navigation-link-color;
    display: block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;

    &:hover,
    &.loading {
      background-color: $navigation-link-background-color-hover;
      color: $navigation-link-color-hover;
    }

    i {
      margin-right: 2px;
      text-align: center;
      width: 20px;
    }

    &.loading i {
      @include animation(spinner 1s infinite steps(8));

      &:before {
        content: "\f110"
      }
    }
  }

  li:first-of-type a {
    padding-top: 9px;
  }

  li:last-of-type a {
    padding-bottom: 9px;
  }

  @each $class in $link-classes {
    ul.#{$class} li.#{$class} a {
      background-color: $navigation-link-background-color-active;
      color: $navigation-link-color-active;
    }
  }
}
