$dashboard-content-min-width: 745px;

html { // http://bit.ly/1qk2tVR
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;

  .dashboard-navigation {
    @include flex(1);
    max-width: $dashboard-navigation-width;
    min-width: $dashboard-navigation-width;
  }

  .dashboard-content {
    @include flex(4);
    min-width: $dashboard-content-min-width;
  }
}
