@media print {
  @page {
    size: letter landscape;
  }

  body {
    background-color: transparent;
  }

  .dashboard-navigation {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 2px;

    .logo {
      background-color: transparent;
    }

    .logo::after {
      display: none;
    }

    ul {
      display: none;
    }
  }

  .panel {
    background-color: transparent;
    box-shadow: none;
    margin: 0 0 1em;

    .title {
      background-color: transparent;
      color: #666;
      padding-bottom: 0;
    }

    .filter {
      display: none;
    }
  }

  .years-links {
    border-bottom: 1px solid color($grey, 300);

    li {
      color: #666;
      display: none;
    }

    .year-status {
      display: none;
    }
  }

  .years-links li.selected-year {
    border-bottom: 0;
    display: block;
    margin: 0;
    position: absolute;
    right: 16px;
    top: 18px;

    a {
      color: #666;
    }
  }

  table td {
    color: #666;
  }

  .sortable-header .fa {
    display: none;
  }

  .barchart-disclaimer a {
    color: #666;
    text-decoration: none;
  }
}
