.copy-year.popover {
  .copied {
    @include span-columns(5);
    background-color: #f3f3f3;
    border-radius: 4px;
    margin-top: 1em;
    padding: 1em;

    h3 {
      margin-top: 0;
    }

    h4 {
      padding-left: 0.5em;
    }
  }

  .next-step {
    @include span-columns(7);
    @include omega;
    padding-top: 1.5em;
    text-align: center;
  }

  .start.button {
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    display: block;
    font-size: 1.6em;
    margin: 1em auto;
    padding: 1em;
    width: 90%;

    small {
      display: block;
      font-size: 0.5em;
      font-weight: normal;
    }

    &:hover {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26), 0 2px 15px 0 rgba(0, 0, 0, 0.22);
    }

    &:active,
    &.active {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
  }

  .copying {
    margin: 1em 0 2em;
  }

  .copying-icon {
    font-size: 30px;
  }

  .copying-header {
    margin: 10px 0 1em;
  }

  .back.button {
    @include button(#f8f8f8, #333);
  }

  .sorry {
    text-align: center;

    p {
      margin: 2em auto 3em;
    }

    .back.button {
      font-size: 1.2em;
    }
  }
}
