$year-link-color: #ccc;
$year-link-color-active: $harvest-profit-green;
$year-link-color-hover: $harvest-profit-green;
$selected-year-border-color: #aaa;

.crops-links,
.years-links {
  .title {
    padding: 10px 16px;
  }

  .year-status {
    color: color($grey, 300);
    float: right;
    margin: 1em 1em 0;

    &.idle::before {
      content: "\f058";
    }

    &.queued::before {
      content: "\f03a";
    }

    &.processing::before {
      content: "\f013";
    }
  }

  ul {
    @include clearfix;
    list-style-type: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid transparent;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: -0.3em;
    margin-right: 2.5em;
    padding-bottom: 0.3em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: $year-link-color;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      color: $year-link-color-hover;
    }
  }

  .selected-crop,
  .selected-year {
    border-bottom: 1px solid $selected-year-border-color;

    a {
      color: $year-link-color-active;
      font-weight: bold;
    }
  }
}

.crops-links {
  margin-top: -16px;

  .title {
    background-color: #fff;
    padding: 8px 16px;
  }

  li {
    font-size: 1em;
    margin-right: 1.5em;
  }

  .selected-crop a {
    font-weight: normal;
  }
}

.exports {
  font-weight: normal;
  padding: 10px 0;
  text-transform: none;

  &.crops-links-heading {
    border-top: 1px solid color($grey, 200);
  }

  > span {
    cursor: pointer;
    display: inline-block;
    opacity: 0.8;
    padding: 3px 5px;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}
