@mixin button($background-color: $harvest-profit-green, $text-color: #fff) {
  $background-color-active: lighten($background-color, 7%);
  $border-color: $background-color;
  $border-radius: 2px;
  $box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  $box-shadow-hover: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  $font-size: 14px;
  $padding: 6px 12px;
  $transition-timing: cubic-bezier(0.25, 0.8, 0.25, 1);

  @include transition(all 0.2s $transition-timing);
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $text-color;
  cursor: pointer;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  outline: none;
  padding: $padding;
  text-decoration: none;

  &:hover {
    box-shadow: $box-shadow-hover;
    color: $text-color;
  }

  &:active,
  &.active {
    background-color: $background-color-active;
    box-shadow: $box-shadow;
    color: $text-color;
  }

  &.active {
    cursor: wait;
  }

  &:disabled {
    background-color: desaturate($background-color, 20%);
    border-color: desaturate($background-color, 20%);
    box-shadow: none;
    opacity: 0.5;
  }
}
