body.results {
  .budget-price.popover {
    background-color: transparent;
    left: 50%;
    margin-left: -250px;
    right: auto;
    width: 500px;

    .title,
    .content {
      left: 50%;
      margin-left: -250px;
      right: auto;
      width: 500px;
    }

    .content {
      background-color: $white;
    }

    .instructions {
      display: none;
    }
  }

  .price-setting {
    .edit {
      display: inline-block;
      padding: 8px 8px 5px;
      text-decoration: none;
    }

    label {
      padding-top: 0;
      width: 40%;
    }

    input[type="text"] {
      width: 70px;
    }

    .saving,
    .error {
      display: inline-block;
      font-size: 0.8em;
      padding: 8px 8px 5px;
    }

    .saving {
      color: #999;
    }

    .error {
      float: none;
      margin: 0;
      width: auto;
    }

    .button {
      margin: 4px 8px;
      padding: 3px 7px 4px;
    }
  }
}
