body.results {
  .budget-price-switch,
  .per-acre-switch {
    margin-right: 2em;
    margin-top: -3px;

    .toggle-switch {
      font-size: 0.8em;
    }

    label {
      line-height: 1.2em;
    }

    .settings {
      padding: 1px 0 5px 6px;
    }
  }

  .owner.filter {
    margin-top: -2px;
  }

  .print.filter,
  .pdf.filter,
  .csv.filter {
    cursor: pointer;
    margin-right: 2em;
  }
}
