body.results .sortable-header {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  i {
    color: rgba($table-header-text-color, 0.5);
    font-size: 18px;
    margin-right: 8px;

    &:before {
      content: "\f0d8";
    }

    &:after {
      content: "\f0d7";
    }
  }

  &.current.asc i:before {
    color: $table-header-text-color;
  }

  &.current.desc i:after {
    color: $table-header-text-color;
  }
}
