body.results .all-years {
  float: right;
  font-size: 1em;
  margin-bottom: -1em;
  margin-top: -0.3em;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: none;

  > label {
    line-height: 1.8em;
  }

  &.loading,
  &.loading label {
    cursor: wait;
  }
}
