$table-header-text-color: #666;

body.results.all {
  .no-applications,
  .no-fields {
    margin: 16px;
  }

  table {
    th {
      a {
        color: $table-header-text-color;
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      i {
        color: rgba($table-header-text-color, 0.5);
        font-size: 18px;
        margin-right: 8px;

        &:before {
          content: "\f0d8";
        }

        &:after {
          content: "\f0d7";
        }
      }

      .current.asc i:before {
        color: $table-header-text-color;
      }

      .current.desc i:after {
        color: $table-header-text-color;
      }
    }

    .field-name small {
      color: #aaa;
      display: block;
      font-size: 12px;
      margin: -2px 0 2px;
    }
  }

  .all-years {
    float: right;
    text-transform: none;
  }
}
