$editable-cash-price-color: #797979;

body.results.detailed .dashboard-content {
  .panel .content {
    position: relative;
  }

  .cash-price.row {
    background-color: rgba($harvest-profit-green, 0.3);
    height: 37px;
    overflow: hidden;

    input[type="text"] {
      position: relative;
      text-align: right;
      top: -4px;
      width: 70px;
    }
  }

  .yield.row {
    height: 39px;
    overflow: hidden;

    input[type="text"] {
      position: relative;
      text-align: right;
      top: -4px;
      width: 70px;
    }
  }

  .total-profit-loss {
    @include clearfix;
    text-align: right;

    .today {
      font-weight: bold;
      margin-bottom: 1em;
    }

    .yesterday,
    .change {
      font-size: 0.8em;
    }

    .amount {
      display: inline-block;
      min-width: 70px;
    }

    .positive {
      color: $harvest-profit-green;
    }

    .negative {
      color: color($red, 300);
    }

    .none {
      color: color($grey, 400);
    }
  }

  .profit-loss-by-field-link {
    bottom: 0.5em;
    left: 1em;
    position: absolute;
  }

  @media print {
    .profit-loss-by-field-link {
      display: none;
    }

    .row {
      color: #666;
    }

    .cost.row,
    .revenue.row {
      color: #999;
    }

    .cash-price.row input {
      background-color: transparent;
      border: 0;
    }
  }
}
