$all-years-link-color: $harvest-profit-green;
$table-header-text-color: #666;

@include keyframes(header-active-link) {
  0% {
    color: $table-header-text-color;
  }

  50% {
    color: lighten($table-header-text-color, 20%);
  }

  100% {
    color: $table-header-text-color;
  }
}

body.results.show {
  #results {
    @include display(flex);
    @include flex-direction(column);

    .panel:first-of-type {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .profit-loss-by-field {
    @include order(2);
  }

  .profit-loss-by-crop {
    @include order(1);
  }

  .field-name small {
    color: #aaa;
    display: block;
    font-size: 12px;
    margin: -2px 0 2px;
  }

  .toggle-details {
    display: block;
    font-size: 12px;
  }

  .totals td {
    font-weight: bold;
  }

  .field-profit-loss-details {
    background-color: color($blue-grey, 50);

    td {
      @include clearfix;
      padding: 0;
    }

    .row:first-of-type {
      border-top: 0;
    }

    .panel {
      background-color: $white;
      float: left;
      margin: 16px;
      margin-right: 0;
      max-width: 340px;
      width: auto;
    }
  }

  #results .field-profit-loss-details .panel:first-of-type {
    margin-top: 16px;
  }

  .cost-per-bushel {
    color: $panel-title-small-color;
    float: right;
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 0.2em;
    text-transform: none;

    .per-separator {
      display: inline-block;
      font-size: 0.85em;
      margin-left: 1px;
      margin-right: 2px;
    }

    .units {
      font-size: 0.8em;
    }
  }

  @media print {
    .profit-loss-by-crop-link {
      display: none;
    }
  }
}
