#v-page-status {
  .content-error {
    position: fixed;
    z-index: 1000000;

    &.error-fade-out-leave,
    &.error-fade-out-enter {
      opacity: 0;
    }

    &.error-fade-out-enter {
      @include transition(opacity, .4s);
    }

    .error-background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .error-contents {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      position: fixed;

      background: $red;
      color: $white;
      font-size: 2em;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      max-width: 400px;
      max-height: 400px;
      text-align: center;
      padding: 10px;
      border-radius: 4px;
    }

    h6 {
      margin: 0;
      font-weight: lighter;
      font-size: 14px
    }


    i {
      font-size: 4em;
    }

    h5 {
      font-weight: normal;
      font-size: 1em;
      margin: 0;
    }

    p {
      margin: .5em;
      font-size: .5em;
    }

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }

    span {
      @include transition(opacity, .4s);
      opacity: 1;
      background: $white;
      color: $red;
      font-size: 18px;
      padding: 2px 10px;
      border-radius: 3px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        @include transition(opacity, .4s);
        opacity: 0.9;
      }
    }
  }

  .content-loading {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    position: fixed;
    z-index: 1000000;
    background: rgba(255,255,255,0.5);
    @include background(radial-gradient(rgba(236, 236, 236, 0.92) 11.76%, rgba(255, 255, 255, 0.43)));
    color: #8a8a8a;
    font-size: 2em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;

    &.loading-fade-out-leave,
    &.loading-fade-out-enter {
      @include transition(opacity, .4s);
      opacity: 0;
    }

    i {
      font-size: 4em;
    }

    h5 {
      font-weight: normal;
      font-size: 1em;
      margin: 0;
    }

    p {
      margin: .5em;
      font-size: .5em;
      max-width: 30%;
    }

    span {
      @include transition(opacity, .3s);
      opacity: 0.8;
      font-size: 12px;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        @include transition(opacity, .3s);
        opacity: 1;
      }
    }
  }
}
