.v-input {
  position: relative;

  .v-input-icon {
    position: absolute;
    line-height: 2em;
    font-size: 1.3em;
    margin-left: 5px;
    color: color($grey, 400);

    &.fa-calendar:hover {
      cursor: pointer;
      color: color($grey, 500);
    }

    & ~ input {
      padding-left: 25px;
    }
  }

  .v-input-message-container {
    background-color: rgba($black, 0.6);
    border-radius: 2px;
    bottom: 100%;
    color: $white;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    margin: 15px 10px 30px 0;
    padding: 8px;
    position: absolute;
    right: -30px;
    width: 250px;
    z-index: 1;

    @include display(flex);
    @include flex-flow(row nowrap);
    @include align-items(center);

    i {
      display: inline-block;
      padding-right: 6px;
    }

    div {
      display: inline-block;
    }

    h5 {
      margin: 0;
      font-size: 13px;
      font-weight: normal;
    }

    p {
      margin: 0;
      font-size: 10px;
      font-weight: normal;
    }

    &::after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba($black, 0.6);
      content: "";
      right: 60px;
      position: absolute;
      bottom: -10px;
    }
  }
}
