//= require jquery
//= require autonumeric
//= require codelation

//= require jquery_ujs
//= require jquery-ui-sortable-only.min.js
//= require jquery.ba-throttle-debounce
//= require jquery.scrollTo
//= require jquery.tagsinput
//= require moment
//= require numeral
//= require pikaday
//= require turbolinks
//= require vue
//= require bootstrap
//= require picker
//= require picker.date
//= require legacy
//= require sweetalert-dev
//= require jquery.tabletojson
//= require accounting
//= require_self
//= require_tree ./dashboard

App.env = '<%= Rails.env %>';
App.env = 'development';

// Define object bases
App.pdfGenerator = {};
App.csvGenerator = {};
App.api = {};
App.api.version = 2;
App.validators = {};

if (App.env === 'development') {
  Vue.config.debug = true;
}


// JS Monitoring
function trackVueExceptions(atatus, Vue) {
  var Vue = Vue || window.Vue;
  var atatus = atatus || window.atatus;

  // quit if Vue isn't on the page
  if (!Vue || !Vue.config) {return;}

  // quit if atatus isn't on the page
  if (!atatus || !atatus.config) {return;}

  var _oldOnError = Vue.config.errorHandler;
  Vue.config.errorHandler = function VueErrorHandler(error, vm) {
      atatus.notify(error, {
        extra: {
          componentName: Vue.util.formatComponentName(vm),
          propsData: vm.$options.propsData
        }
      });

      if (typeof _oldOnError === 'function') {
          _oldOnError.call(this, error, vm);
      }
  };
}

trackVueExceptions();

