<div class="content">
  <%= simple_form_for(category_type, html: { class: "field-form vertical" }) do |f| %>
      <%= f.input :header_account_id, collection: HeaderAccount.order(:name), prompt: 'Please choose header account for this type' %>
      <%= f.input :name, collection: category_types, prompt: 'Please choose category type' %>
      <%= f.input :description %>
      <div class="input submit">
        <%= f.button :submit, "Save", class: 'button' %>
        <%= link_to 'Cancel', accounts_path, class: 'button' %>
      </div>
  <% end %>
</div>