<div class="panel">
  <div class="content">
    <%= link_to 'All Category Types', category_types_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Edit an Category Type
  </div>

  <%= render 'form', category_type: category_type %>
</div>