<div class="panel">
  <div class="title">
    <%= link_to 'Chart of Accounts', accounts_path, class: 'button' %>
  </div>
</div>
<div class="markets panel">
  <div class="title">
    All Category Types
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">ID</th>
        <th class="month">Account Header</th>
        <th class="month">Name</th>
        <th class="month">Description</th>
        <th class="number">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% category_types.each do |category_type| %>
          <tr>
            <td class="month"><%= link_to category_type.id, category_type_path(category_type) %> </td>
            <td class="month"><%= category_type.header_account.name %></td>
            <td class="month"><%= category_type.name %> </td>
            <td class="month"><%= category_type.description %> </td>
            <td class="number">
              <%= link_to edit_category_type_path(category_type), class: '' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to category_type_path(category_type), method: :delete, data: {confirm: 'Are you sure?'}, class: '' do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>