<div class="panel">
  <div class="content">
    <%= link_to 'Chart of Accounts', accounts_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Create a new Category Type
  </div>

  <%= render 'form', category_type: category_type %>
</div>