<div class="panel">
  <div class="title">
    <%= category_type.name %>
  </div>

  <div class="content">
    <p><b>Account Header:</b> <%= category_type.header_account.name %> </p>
    <p><b>Name:</b> <%= category_type.name %> </p>
    <p><b>Description:</b> <%= category_type.description %> </p>
  </div>
</div>
<div class="panel">
  <div class="content">
    <%= link_to 'Edit', edit_category_type_path(category_type), class: 'button' %>
    <%= link_to 'All Category Types', category_types_path, class: 'button' %>
  </div>
</div>