<div class="content">
  <%= simple_form_for(dynamic_menu, html: { class: "field-form vertical" }) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :from_list, collection: lists, input_html: { multiple: true }, selected: from_list_ids %>
      <%= f.input :to_list, collection: lists, input_html: { multiple: true }, selected: to_list_ids %>
      <div class="input submit">
        <%= f.button :submit, "Save", class: 'button' %>
        <%= link_to 'Cancel', dynamic_menus_path, class: 'button' %>
      </div>
  <% end %>
</div>