<div class="panel">
  <div class="title">
    <%= link_to 'New Dynamic Menu', new_dynamic_menu_path, class: 'button' %>
  </div>
</div>
<div class="markets panel">
  <div class="title">
    All Dynamic Menus
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">ID</th>
        <th class="month">Name</th>
        <th class="month">Description</th>
        <th class="month">From lists</th>
        <th class="month">To lists</th>
        <th class="number">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% dynamic_menus.each do |dynamic_menu| %>
          <tr>
            <td class="month"><%= link_to dynamic_menu.id, dynamic_menu_path(dynamic_menu) %> </td>
            <td class="month"><%= dynamic_menu.name %> </td>
            <td class="month"><%= dynamic_menu.description %> </td>
            <td class="month">
              <% dynamic_menu.detail_types.where(id: dynamic_menu.from_list).each do |detail_type| %>
                <span><%= detail_type.name %></span>
              <% end %>
            </td>
            <td class="month">
              <% dynamic_menu.detail_types.where(id: dynamic_menu.to_list).each do |detail_type| %>
                <span><%= detail_type.name %></span>
              <% end %>
            </td>
            <td class="number">
              <%= link_to edit_dynamic_menu_path(dynamic_menu), class: '' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to dynamic_menu_path(dynamic_menu), method: :delete, data: {confirm: 'Are you sure?'}, class: '' do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>