<div class="panel">
  <div class="content">
    <%= link_to 'All dynamic menus', dynamic_menus_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Create a new Category
  </div>

  <%= render 'form', dynamic_menu: dynamic_menu,
             lists: lists,
             from_list_ids: from_list_ids,
             to_list_ids: to_list_ids %>
</div>