<div class="panel">
  <div class="title">
    <%= dynamic_menu.name %>
  </div>

  <div class="content">
    <p><b>Name:</b> <%= dynamic_menu.name %> </p>
    <p><b>Description:</b> <%= dynamic_menu.description %> </p>
    <p><b>Account lists(For):</b>
      <% from_list.each do |list| %>
        <%= list %>
      <% end %>
    </p>
    <p><b>Account lists(To:):</b>
      <% to_list.each do |list| %>
        <%= list %>
      <% end %>
    </p>
  </div>
</div>
<div class="panel">
  <div class="content">
    <%= link_to 'Edit', edit_dynamic_menu_path(dynamic_menu), class: 'button' %>
    <%= link_to 'All Dynamic Menus', dynamic_menus_path, class: 'button' %>
  </div>
</div>