@import "c3";

$futures-price-line-width: 2px;
$futures-price-max-font-size: 13px;
$futures-price-max-line-color: color($red, 300);
$futures-price-max-line-width: 1px;
$futures-price-max-text-color: color($red, 800);
$target-line-color: color($grey, 400);
$target-line-width: 1px;
$target-font-size: 12px;
$target-text-color: color($grey, 700);

body.marketing-plans.index {
  .marketing-plan-chart {
    height: 320px;

    .c3-line-Close {
      stroke-width: $futures-price-line-width;
    }

    .c3-target-High {
      display: none;
    }

    .c3-target-Low {
      display: none;
    }

    .c3-ygrid-line {
      line {
        stroke: $target-line-color;
        stroke-width: $target-line-width;
      }

      text {
        fill: $target-text-color;
        font-size: $target-font-size;
        text-shadow: 0 0 1px $white, 0 0 1px $white;

        &[text-anchor="end"] {
          fill: $futures-price-max-text-color;
          font-size: $futures-price-max-font-size;
          text-shadow: none;
        }
      }

      &:last-of-type {
        line {
          stroke: $futures-price-max-line-color;
          stroke-width: $futures-price-max-line-width;
        }
      }
    }

    .c3-region {
      fill: $harvest-profit-green;
      fill-opacity: 1;

      rect {
        fill-opacity: 0.2 !important;
      }
    }
  }

  .date-range {
    @include has-columns(3);

    .start-date {
      padding-left: 50px;
    }

    .futures-date {
      text-align: center;
    }

    .end-date {
      text-align: right;

      .pikaday-binding {
        margin: 0 4px 0 auto;
      }
    }
  }
}
