$table-border-color: #ddd;
$table-cell-color: #797979;
$table-header-color: #666;

body.marketing-plans.index {
  .dashboard-content {
    padding-bottom: 50px;
  }

  .table-header {
    border-bottom: 1px solid $table-border-color;
    color: $table-header-color;
    font-weight: bold;
    padding: 8px;
    text-align: center;
  }

  .table-cell {
    border-top: 1px solid $table-border-color;
    color: $table-cell-color;
    padding: 12px 8px;
    text-align: center;

    input {
      max-width: 100px;
      text-align: right;
    }

    .pikaday-binding + input {
      max-width: 120px;
    }

    &.editable {
      padding: 6px 8px;
    }
  }

  .marketing-plan {
    @include has-columns;
  }

  .triggers .header,
  .triggers .row {
    @include has-columns;

    & *:not(script) {
      @include flex(1);
    }
  }

  .triggers .hit {
    background-color: lighten($harvest-profit-green, 32%);
  }

  .target-number {
    position: relative;
    width: 20%;
  }

  .notification-link {
    left: 10%;
    position: absolute;
    text-decoration: none;
    top: 10px;
  }

  .margin {
    width: 20%;
  }

  .futures-price {
    width: 30%;
  }

  .start-date {
    width: 50%;
  }

  .bushels {
    width: 30%;
  }

  .table-footer {
    @include has-columns;
  }
}
