<div class="print-check">
  <div class="header">
    <div class="name">
      <span class="header__name">Print Check</span>
    </div>
    <div class="links">
      <%= link_to 'Order checks', '#', class: 'header__check_link' %>
      <%= link_to 'Go Back to Transactions', transaction_path, class: 'header__back_link' %>
    </div>
  </div>

  <div class="print-check-form">
    <div class="vendor-and-account">
      <div class="vendor">
        <%= select_tag :vendor, options_from_collection_for_select(Vendor.all, 'id', 'name'), prompt: 'Select Vendor', class: 'print-check-form__vendor' %>
      </div>
      <div class="account">
        <%= select_tag :account, options_from_collection_for_select(detail_type_accounts, 'id', 'name'), prompt: 'Select Account', class: 'print-check-form__account' %>
      </div>
      <div class="account-amount">
        <b>Balance</b> &nbsp;&nbsp;<span class="print-check-form__account_balance">$0.00</span>
      </div>
      <div class="total-amount">
        <span class="print-check-form__total_amount">$0.00</span>
      </div>
      <div class="clear"></div>
    </div>

    <div class="error">
      <div class="message">
        <span class="error__message"><i class="fa fa-warning fa-lg">&nbsp&nbsp</i>Something’s not quite right</span>
      </div>
      <div class="details">
        <span class="error__detail_message"></span>
      </div>
    </div>

    <div class="address-and-date">
      <div class="address">
        <div class="label">
         <%= label_tag :address %>
        </div>
        <div class="text">
          <%= text_area_tag :address, '', class: 'print-check-form__address' %>
        </div>
      </div>
      <div class="payment-date">
        <div class="label">
          <%= label_tag :payment_date %>
        </div>
        <div class="date">
          <i class="fa fa-calendar print_check__calendar"></i>
          <%= text_field_tag :payment_date, Date.current, class: 'print-check-form__payment_date' %>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="print-check-table-wrapper">
      <table class="print-check-table">
        <thead>
          <tr class="header">
            <th>#</th>
            <th>Account</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr class="body">
            <td>1</td>
            <td><%= select_tag :account, options_from_collection_for_select(Account.order(:name), 'id', 'name'), {prompt: 'Select Account'} %></td>
            <td contenteditable="true"></td>
            <td contenteditable="true" class="print-check-table__cell_amount"></td>
            <td><a href="" onclick="return true" class="print-check-table__remove_line"><i class="fa fa-remove"></i></a></td>
          </tr>
        </tbody>
      </table>

      <div class="buttons">
        <%= link_to 'Add a line', '', class: 'print-check-table__add_a_line' %>
        <%= link_to 'Clear lines', '', class: 'print-check-table__clear_lines' %>

        <div class="total_amount">
          <b>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="print-check-form__total_amount">$0.00</span></b>
        </div>
      </div>

      <div class="memo">
        <div class="label">
          <%= label_tag :memo %>
        </div>
        <div class="text">
          <%= text_area_tag :memo, '', class: 'print-check-form__memo' %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="cancel">
        <%= link_to 'Clear', '', class: 'print-check-form__button' %>
        <%= link_to 'Cancel', transaction_path, class: 'print-check-form__button' %>
      </div>
      <div class="save-buttons">
        <%= link_to 'Save', '', class: 'print-check-form__button', id: 'save-print-check' %>
        <%= link_to 'Save and Print', '', class: 'print-check-form__button print-check-form__button_green print-check-form__save_and_print' %>
      </div>
    </div>
  </div>
</div>

<div class="check-print-version">
  <div class="vendor-name">
    <b>Vendor name: </b>
    <span class="check-print-version__vendor-name"></span>
  </div>
  <div class="address">
    <b>Vendor address: </b><span class="check-print-version__address"></span>
  </div>
  <div class="total-amount">
    <b>Total amount of the check: </b><span class="check-print-version__total-amount"></span>
  </div>
  <div class="memo">
    <b>Memo: </b><span class="check-print-version__memo"></span>
  </div>
</div>