.fields.popover {
  .field-form {
    @include span-columns(6);

    form {
      max-width: 350px;
    }
  }

  .fields {
    @include span-columns(6);
    @include omega;

    .no-fields td {
      padding-top: 40px;
      text-align: center;
    }
  }

  .acres input {
    width: 100px;
  }

  .button {
    text-align: center;
    width: 112px;

    i {
      width: 16px;
    }

    .saving {
      display: none;
    }

    &:disabled {
      box-shadow: none;
      cursor: wait;

      span {
        display: none;

        &.saving {
          display: inline-block;
        }
      }
    }
  }
}
