.notifications.show .marketing-plans-notification {
  padding: 16px;
}

.marketing-plans-notification {
  .panel {
    margin-left: 0;
    margin-right: 0;
  }

  .trigger-message {
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
  }

  .reminder-message {
    color: rgba($black, 0.6);
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
  }

  .futures-price {
    @include radial-gradient(lighten($harvest-profit-green, 5%), darken($harvest-profit-green, 5%));
    border-radius: 4px;
    box-shadow: $panel-box-shadow;
    color: rgba($black, 0.6);
    margin: 2em auto;
    max-width: 320px;
    padding: 1em;
    text-align: center;
  }

  .futures-crop-name {
    color: rgba($black, 0.8);
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.5em auto 0;
  }

  .decision-date-hit,
  .futures-price-hit {
    color: rgba($black, 0.8);
    font-weight: 600;
  }

  .decision-date-hit {
    font-size: 2em;
    margin: 0.4em auto 0.5em;

    label {
      display: block;
      font-size: 0.5em;
    }
  }

  .futures-price-hit {
    font-size: 4em;
  }

  .futures-datetime-hit {
    color: rgba($black, 0.35);
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .marketing-plans-triggers {
    th,
    td {
      text-align: center;
    }
  }

  .trigger td {
    padding-left: 20px;
  }

  .trigger.hit td {
    background-color: lighten($harvest-profit-green, 15%);
    color: $white;
    font-weight: bold;
    position: relative;

    .hit {
      display: none;
      font-size: 0.8em;
      left: 6%;
      position: absolute;
      top: 10px;
    }
  }

  .trigger.hit.now td {
    background-color: darken($harvest-profit-green, 5%);
    color: $white;
    font-weight: bold;
    position: relative;

    .hit {
      display: block;
    }
  }

  .trigger.missed td {
    background-color: color($grey, 50);
    color: color($grey, 300);
  }

  .destroy-notification-link {
    color: color($red, 600);
    float: right;
    text-decoration: none;

    &:hover {
      color: color($red, 400);
    }

    &:active,
    &.active {
      @include animation(none);
      color: color($red, 700);
    }
  }

  .marketing-plan-link {
    text-decoration: none;
  }
}
