<div class="transfer-wrapper">

  <div class="header">
    <div class="name">
      <span class="header__name">Transfer</span>
    </div>
    <div class="links">
      <%= link_to 'Order checks', '#', class: 'header__check_link' %>
      <%= link_to 'Go Back to Transactions', transaction_path, class: 'header__back_link' %>
    </div>
  </div>

  <div class="transfer-form">
    <%= form_tag transfer_path, method: :put, remote: true do %>

        <div class="error">
          <div class="message">
            <span class="error__message"><i class="fa fa-warning fa-lg">&nbsp&nbsp</i>Something’s not quite right</span>
          </div>
          <div class="details">

          </div>
        </div>

        <div class="row">
          <div class="transfer-funds-from">
            <div class="label">
              <%= label_tag :transfer_from %>
            </div>
            <div class="input-field">
              <%= select_tag :source_account_id, options_from_collection_for_select(Account.all, 'id', 'name', folder.journal_transactions.first.source_account.id), prompt: 'Please choose FROM account.', class: 'transfer-form__source_account_id' %>
            </div>
          </div>
          <div class="balance">
            <div class="name">
              <b>Balance</b>
            </div>
            <div class="amount">
              <span class="transfer-form__transfer-from"><%= formatted_amount(folder.journal_transactions.first.source_account.total_balance_amount) %></span>
            </div>
          </div>

          <div class="clear"></div>
        </div>

        <div class="row">

          <div class="transfer-funds-to">
            <div class="label">
              <%= label_tag :transfer_to %>
            </div>
            <div class="input-field">
              <%= select_tag :target_account_id, options_from_collection_for_select(Account.all, 'id', 'name', folder.journal_transactions.first.target_account .id), prompt: 'Please choose TO account', class: 'transfer-form__target_account_id' %>
            </div>
          </div>
          <div class="balance">
            <div class="name">
              <b>Balance</b>
            </div>
            <div class="amount">
              <span class="transfer-form__transfer-to"><%= formatted_amount(folder.journal_transactions.first.target_account.total_balance_amount) %></span>
            </div>
          </div>

          <div class="clear"></div>
        </div>

        <div class="row">

          <div class="transfer-amount">
            <div class="label">
              <%= label_tag :transfer_amount %>
            </div>
            <div class="input-field">
              <%= text_field_tag :amount, folder.journal_transactions.first.amount %>
            </div>
          </div>

          <div class="date">
            <div class="label">
              <%= label_tag :happened_at %>
            </div>
            <div class="happened-at">
              <i class="fa fa-calendar transfer-form__calendar"></i>
              <%= text_field_tag :happened_at, folder.happened_at.to_date, class: 'transfer-form__happened_at' %>
            </div>
          </div>

          <div class="clear"></div>
        </div>

        <div class="row">

          <div class="label">
            <%= label_tag :memo %>
          </div>

          <div class="memo">
            <%= text_field_tag :memo, folder.memo %>
          </div>

        </div>

        <div class="footer">
          <div class="cancel">
            <%= link_to 'Cancel', transaction_path, class: 'transfer-form__button' %>
          </div>
          <div class="save-buttons">
            <%= button_tag 'Save and new', class: 'transfer-form__button transfer-form__button_green', data: {disabled: true} %>
          </div>
        </div>

    <% end %>

  </div>
</div>