function showError() {
    $('.error').show();
}

function clearErrors() {
    $('.error .details').html('');
}

function appendErrors() {
    <% errors.each do |error| %>
    $('.error .details').append('<span class="error__detail_message"><%= error %></span><br>');
    <% end %>
}

showError();
clearErrors();
appendErrors();