<div class="markets panel">
  <div class="title">
    All transactions
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">Journal Entry ID</th>
        <th class="month">Amount</th>
        <th class="month">Debit Account</th>
        <th class="month">Credit Account</th>
        <!--<th class="number">Actions</th>-->
      </tr>
      </thead>

      <tbody>
      <% transactions.each do |transaction| %>
          <tr>
            <td class="month"><%= link_to transaction.id, transaction_path(transaction) %> </td>
            <td class="month"><%= transaction.amount %> </td>
            <td class="month"><%= transaction.source_account.name if transaction.source_account %> </td>
            <td class="month"><%= transaction.target_account.name if transaction.target_account %> </td>
            <td class="number">
              <%# link_to edit_transaction_path(transaction), class: '' do %>
                  <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
              <%# end %>
              <%# link_to transaction_path(transaction), method: :delete, data: {confirm: 'Are you sure?'}, class: '' do %>
                  <!--<i class="fa fa-times" aria-hidden="true"></i>-->
              <%# end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>