<div class="panel">
  <div class="title transactions-title">
    <div class="name">
      <span>Transactions</span>
    </div>
    <div class="transactions-buttons">
      <div class="button-wrapper">
        <%= link_to new_journal_entry_path, class: 'button' do %>
            <i class="fa fa-plus"></i>
            Journal Entry
        <% end %>
      </div>

      <div class="button-wrapper">
        <%= link_to new_transfer_path, class: 'button' do %>
            <i class="fa fa-plus"></i>
            Transfer
        <% end %>
      </div>

      <div class="button-wrapper">
        <%= link_to new_expense_path, class: 'button' do %>
            <i class="fa fa-plus"></i>
            Expense
        <% end %>
      </div>

      <div class="button-wrapper">
        <%= link_to new_check_path, class: 'button' do %>
            <i class="fa fa-plus"></i>
            Check
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="transactions">
  <div class="panel">
    <div class="title">
      See Transactions
    </div>

    <div class="content">
      <div class="link">
        <%= link_to 'Past 30 days', folders_path(filter_by: 'past_thirty_days') %>
      </div>

      <div class="link">
        <%= link_to 'Past 60 days', folders_path(filter_by: 'past_sixty_days') %>
      </div>

      <div class="link">
        <%= link_to 'Past 90 days', folders_path(filter_by: 'past_ninety_days') %>
      </div>

      <div class="link">
        <%= link_to 'All Dates', folders_path(filter_by: 'all') %>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="title">
      Transaction TO-DO's
    </div>

    <div class="content">

    </div>
  </div>
</div>