<div class="expense">
  <div class="header">
    <div class="name">
      <span class="header__name">Expense</span>
    </div>
    <div class="links">
      <%= link_to 'Order checks', '#', class: 'header__check_link' %>
      <%= link_to 'Go Back to Transactions', transaction_path, class: 'header__back_link' %>
    </div>
  </div>

  <div class="expense-form">
    <div class="vendor-and-account">
      <div class="vendor">
        <%= select_tag :vendor, options_from_collection_for_select(Vendor.all, 'id', 'name', folder.vendor_id), prompt: 'Select Vendor', class: 'expense-form__vendor' %>
      </div>
      <div class="account">
        <%= select_tag :account, options_from_collection_for_select(detail_type_accounts, 'id', 'name', folder.journal_transactions.first.source_account.id), prompt: 'Select Account', class: 'expense-form__account' %>
      </div>
      <div class="account-amount">
        <b>Balance</b> &nbsp;&nbsp;<span class="expense-form__account_balance"><%= formatted_amount(folder.journal_transactions.first.source_account.total_balance_amount) %></span>
      </div>
      <div class="total-amount">
        <span class="expense-form__total_amount"><%= formatted_amount(folder.amount) %></span>
      </div>
      <div class="clear"></div>
    </div>

    <div class="error">
      <div class="message">
        <span class="error__message"><i class="fa fa-warning fa-lg">&nbsp&nbsp</i>Something’s not quite right</span>
      </div>
      <div class="details">
        <span class="error__detail_message"></span>
      </div>
    </div>

    <div class="payment-date-and-payment-method">
      <div class="payment-date">
        <div class="label">
          <%= label_tag :payment_date %>
        </div>
        <div class="date">
          <i class="fa fa-calendar print_check__calendar"></i>
          <%= text_field_tag :payment_date, folder.happened_at.to_date, class: 'expense-form__payment_date' %>
        </div>
      </div>
      <div class="payment-method">
        <div class="label">
          <%= label_tag :payment_method %>
        </div>
        <div class="text">
          <%= select_tag :payment_method, options_for_select(['Cash', 'Check', 'Credit Card'], folder.payment_method), prompt: 'Select payment method', class: 'expense-form__payment_method' %>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="expense-table-wrapper">
      <table class="expense-table">
        <thead>
        <tr class="header">
          <th>#</th>
          <th>Account</th>
          <th>Description</th>
          <th>Amount</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% counter = 0 %>
        <% folder.journal_transactions.where(transaction_type: 'credit').each do |transaction| %>
          <tr class="body">
            <td><%= counter += 1 %></td>
            <td><%= select_tag :account, options_from_collection_for_select(Account.order(:name), 'id', 'name', transaction.target_account.id), {prompt: 'Select Account'} %></td>
            <td contenteditable="true"><%= transaction.description %></td>
            <td contenteditable="true" class="expense-table__cell_amount"><%= formatted_amount(transaction.amount) %></td>
            <td><a href="" onclick="return true"><i class="fa fa-remove expense-table__remove_line"></i></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div class="buttons">
        <%= link_to 'Add a line', '', class: 'expense-table__add_a_line' %>
        <%= link_to 'Clear lines', '', class: 'expense-table__clear_lines' %>

        <div class="total_amount">
          <b>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="expense-form__total_amount"><%= formatted_amount(folder.amount) %></span></b>
        </div>
      </div>

      <div class="memo">
        <div class="label">
          <%= label_tag :memo %>
        </div>
        <div class="text">
          <%= text_area_tag :memo, folder.memo, class: 'expense-form__memo' %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="cancel">
        <%= link_to 'Cancel', transaction_path, class: 'expense-form__button expense-form__cancel' %>
      </div>
      <div class="save-buttons">
        <%= link_to 'Save', '', class: 'expense-form__button expense-form__update', data: {folder_id: folder.id} %>
      </div>
    </div>
  </div>
</div>