$categories-background-color: #fff;
$categories-link-color: #666;
$categories-link-color-active: #444;
$categories-link-color-hover: #555;
$transition-timing: cubic-bezier(0.25, 0.8, 0.25, 1);

.dashboard-content .categories {
  background-color: $categories-background-color;
  margin: 32px auto;
  max-width: 800px;
  text-align: center;
  width: 90%;

  a {
    @include transition(all 300ms $transition-timing);
    border-bottom: 3px solid transparent;
    color: $categories-link-color;
    display: inline-block;
    padding: 16px 32px 13px;
    text-decoration: none;

    &:hover {
      border-bottom: 3px solid $categories-link-color-hover;
      color: $categories-link-color-hover;
    }

    &:active,
    &.active {
      border-bottom: 3px solid $categories-link-color-active;
      color: $categories-link-color-active;
    }
  }
}
