$article-background-color: #fff;
$title-color: #444;

body.articles.index .dashboard-content,
body.categories.show .dashboard-content {
  .articles {
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
  }

  .article {
    background-color: $article-background-color;
    margin: 32px 0;

    .title {
      margin: 0;
      padding: 16px 16px 0;

      a {
        color: $title-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .summary {
      padding: 16px;
    }

    .footer {
      @include clearfix;
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      padding: 16px;
    }

    .published-at {
      i {
        color: #777;
        margin-right: 5px;
      }
    }

    .read-more {
      float: right;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
