$article-background-color: #fff;
$published-at-color: #555;

body.articles.show {
  .article {
    background-color: $article-background-color;
    margin: 32px auto;
    max-width: 800px;
    padding: 16px;
    width: 90%;
  }

  h1 {
    margin: 0;
  }

  .published-at {
    color: $published-at-color;
    font-size: 0.8em;
    margin-bottom: 32px;
  }
}
