// Columns set in contracts/index.scss: 100 - 66 = 34% left
body.contracts.index .basis table {
  .delivery-location {
    padding-left: 2em;
    width: 17%;
  }

  .futures-month {
    padding-left: 2em;
  }
}
