// Columns set in contracts/index.scss: 100 - 80 = 20% left
body.contracts.index .cash-sale table {
  .delivery-location {
    padding-left: 2em;
  }

  .basis, .discount-premium {
    width: 13%;
  }
}
