// Columns set in contracts/index.scss: 100 - 50 = 50% left
body.contracts.index .futures table {
  .long-short {
    padding-left: 2em;
  }

  .futures-month {
    padding-left: 2em;
  }

  .number-of-contracts {
  }
}
