// Columns set in contracts/index.scss: 100 - 66 = 34% left
body.contracts.index .hedge-to-arrive table {
  .delivery-location {
    padding-left: 2em;
  }

  .futures-month {
    padding-left: 2em;
  }
}
