$pagination-background-color: transparent;
$pagination-link-color: darken(adjust-hue($harvest-profit-green, 80deg), 5%);
$pagination-link-color-active: darken($pagination-link-color, 10%);
$pagination-link-color-hover: darken($pagination-link-color, 5%);

.pagination.news-articles {
  @include clearfix;
  background-color: $pagination-background-color;
  margin-bottom: 32px;
  padding: 16px -8px;

  a {
    color: $pagination-link-color;
    text-decoration: none;

    i {
      font-size: 1.5em;
      line-height: 1em;
      margin: 0 4px;
      vertical-align: bottom;
    }

    &:hover {
      color: $pagination-link-color-hover;
    }

    &:active {
      color: $pagination-link-color-active;
    }
  }

  .older-articles {
    float: left;
  }

  .newer-articles {
    float: right;
  }
}
