body.settings.index .dashboard-content {
  .crop-settings {
    float: left;
    width: 50%;

    .panel {
      margin-right: 0;
    }
  }

  .price-settings {
    float: right;
    width: 50%;
  }

  .instructions {
    color: #777;
    font-size: 0.9em;
    margin: 0.5em 0 1.5em 0.5em;

    i {
      margin-right: 3px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 4px;

    li {
      clear: both;
    }
  }

  .destroy {
    color: $destroy-link-color;
    display: inline-block;
    opacity: 0.6;
    padding: 5px;
    text-decoration: none;

    &:hover {
      color: $destroy-link-color-hover;
    }
  }

  li:hover .destroy {
    opacity: 1;
  }

  input.autocomplete {
    width: 55%;
  }

  .awesomplete {
    width: 55%;

    input {
      width: 100%;
    }
  }

  .dashboard-crop-settings {
    li {
      padding: 5px;
    }

    label {
      cursor: pointer;
      font-size: 1em;
      font-weight: normal;
      margin-left: 5px;
    }
  }

  .price-setting {
    .edit {
      display: inline-block;
      padding: 8px 8px 5px;
      text-decoration: none;
    }

    label {
      padding-top: 0;
      width: 40%;
    }

    input[type="text"] {
      width: 70px;
    }

    .error {
      float: none;
      margin: 0;
      width: auto;
    }

    .button {
      margin: 4px 8px;
      padding: 3px 7px 4px;
    }
  }

  .saving,
  .error {
    display: inline-block;
    font-size: 0.8em;
    padding: 8px 8px 5px;
  }

  .saving {
    color: #999;
  }
}
