<div class="panel">
  <div class="title">
    <span>Income Statement</span>
  </div>
</div>
<div class="markets panel">
  <div class="content">
    <div class="reports">

      <div class="row">
        <div class="name">
          <b>Profit and Loss</b>
          <div class="description">
            <small>Also called P&L or an income statement, summarizes income and expenses to show how profitable you are</small>
          </div>
        </div>

        <div class="filter">
          <div class="income-statement-filter">
            <%= select_tag :income_statement_filter, options_for_select(select_options) %>

            <div class="custom-date">
              <div class="close">
                <%= link_to '', class: 'hide-custom-date' do %>
                    <span class="fa fa-times"></span>
                <% end %>
              </div>
              <div class="name">
                <span>Custom date</span>
              </div>
              <div class="dates">
                <div class="start-date">
                  <div class="start-date-header">
                    <span>Start date</span>
                  </div>
                  <%= text_field_tag :start_date, Date.current, placeholder: 'MM/dd/yy' %>
                </div>
                <div class="end-date">
                  <div class="end-date-header">
                    <span>End date</span>
                  </div>
                  <%= text_field_tag :end_date, Date.current, placeholder: 'MM/dd/yy'  %>
                </div>
                <div class="clear"></div>
              </div>
              <div class="apply">
                <div class="apply-button">
                  <%= link_to 'Apply', '#', class: 'apply-dates' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="view">
          <%= link_to 'View', income_statement_path(filter_by: :year_to_date), class: 'button reports__income-statement' %>
        </div>

        <div class="clear"></div>
      </div>

      <div class="row">
        <div class="name">
          <b>Balance Sheet</b>
          <div class="description">
            <small>Lists what you own (assets), what your debts are (liabilities), and what you’ve invested in your company (equity).</small>
          </div>
        </div>
        <%= form_tag :balance_sheet, method: :get do %>
          <div class="filter">
            <div class="balance-sheet-filter">
              <i class="fa fa-calendar calendar"></i>
              <%= text_field_tag :date, Date.current, class: 'reports__balance_sheet_date' %>
            </div>
          </div>
          <div class="view">
            <%= submit_tag 'View', class: 'button reports__balance_sheet_link' %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>