<!DOCTYPE html>
<html>
<head>
  <title>Accounting app</title>
  <%= yield :head %>
  <%= stylesheet_link_tag "dashboard", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//js.pusher.com/3.2/pusher.min.js"></script>
  <%= javascript_include_tag "dashboard", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="default">
<%= yield :body_start %>

<%= render "layouts/shared/flash_messages" %>
<%= render "layouts/dashboard/vue_components" %>

<div class="dashboard-navigation">
  <%= render "layouts/dashboard/navigation" %>
</div>

<div class="dashboard-content">
  <%= yield %>
</div>

<%= yield :scripts %>
</body>
</html>
