<div class="content">
  <%= simple_form_for(account, html: { class: "field-form vertical" }) do |f| %>
    <%= f.input :header_account_id, collection: header_accounts, prompt: 'Please choose header account.', input_html: {id: 'header-account-select'} %>
    <%= f.input :category_type_id, collection: category_types, input_html: {id: 'category-type-select'} %>
    <%= f.input :detail_type_id, collection: detail_types, input_html: {id: 'detail_type-select'}  %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="input submit">
      <%= f.button :submit, "Save", class: 'button' %>
      <%= link_to 'Cancel', accounts_path, class: 'button' %>
    </div>
  <% end %>
</div>