<div class="panel">
  <div class="content">
    <%= link_to 'All accounts', accounts_path, class: 'button' %>
  </div>
</div>
<div class="panel">
  <div class="title">
    Edit Account
  </div>

  <%= render 'form',
     account: account,
     header_accounts: header_accounts,
     category_types: category_types,
     detail_types: detail_types
  %>
</div>