<div class="panel">
  <div class="title">
    <div class="btn-group">
      <a href="<%= new_account_path %>" class="btn btn-success">new account</a>
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="<%= new_category_type_path %>">New Category Type</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="<%= new_detail_type_path %>">New Detail Type</a></li>
      </ul>
    </div>
    <div class="category-type">
      <%= link_to 'Category Types', category_types_path %>
    </div>
    <div class="detail-type">
      <%= link_to 'Detail Types', detail_types_path %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="markets panel">
  <div class="title">
    Chart of Accounts
  </div>

  <div class="content">
    <table>
      <thead>
      <tr>
        <th class="month">
          <%= link_to sort_by('id') do %>
            ID
          <% end %>
        </th>
        <th class="month">
          <%= link_to sort_by('category_type', 'asc') do %>
            Category Type
          <% end %>
        </th>
        <th class="month">
          <%= link_to sort_by('detail_type', 'asc') do %>
            Detail Type
          <% end %>
        </th>
        <th class="month">
          <%= link_to sort_by('name') do %>
            Name
          <% end %>
        </th>
        <th class="month">
          <%= link_to sort_by('total_balance', 'asc') do %>
            Total balance
          <% end %>
        </th>
        <th class="number">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% accounts.each do |account| %>
          <tr>
            <td class="month"><%= link_to account.id, account_path(account) %></td>
            <td class="month"><%= account.detail_type.category_type.name %></td>
            <td class="month"><%= account.detail_type.name %></td>
            <td class="month"><%= account.name %> </td>
            <td class="month"><%= formatted_amount(account.total_balance_amount) %> </td>
            <td class="number">
              <%= link_to edit_account_path(account), class: '' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to account_path(account), method: :delete, data: {confirm: 'Are you sure?'}, class: '' do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>