<div class="panel">
  <div class="title">
    <%= account.name %>
  </div>

  <div class="content">
    <p><b>Header Account:</b>  <%= account.detail_type.category_type.header_account.name %> </p>
    <p><b>Sub Account:</b>     <%= account.detail_type.category_type.name %> </p>
    <p><b>Name:</b>            <%= account.name %> </p>
    <p><b>Description:</b>     <%= account.description %> </p>
    <p><b>Total balance:</b>   <%= formatted_amount(account.total_balance_amount) %> </p>
  </div>
</div>
<div class="panel">
  <div class="content">
    <%= link_to 'Edit', edit_account_path(account), class: 'button' %>
    <%= link_to 'Chart of accounts', accounts_path, class: 'button' %>
  </div>
</div>