body.fields.index {
  th.owner {
    width: 20%;
  }

  tr {
    background: $white;
  }

  th.land-cost {
    width: 60%;
  }

  td {
    vertical-align: top;
  }

  .edit-action {
    width: 5%;
  }

  td.edit-action {
    text-align: center;
    vertical-align: middle;
  }

  td.name {
    width: 20%;

    a {
      display: inline-block;
      width: 20px;
    }

    small {
      color: color($grey, 500);
      display: block;
      font-size: $label-font-size * 0.8;
      font-weight: normal;
      padding: 1px 0 3px;
    }
  }

  td.owner {
    padding-top: 0.8em;
  }

  .input {
    padding: 0;

    label {
      float: left;
      padding: 1px 0 0;

      small {
        padding: 0;
      }
    }

    input[type="text"] {
      float: left;
      margin-left: 8px;
      width: 100px;
    }

    input[type="submit"] {
      margin-top: 2px;
      min-width: 84px;
      text-align: center;
    }
  }

  .cost-percentage-submit {
    @include has-columns($gutter: 1em);
  }

  .owner-shares-costs {
    clear: both;
    display: block;
    font-size: 0.8em;
    padding: 0.7em 0 0.3em;
    white-space: nowrap;

    input {
      cursor: pointer;
    }

    label {
      color: color($grey, 700);
      cursor: pointer;
      display: inline-block;
      float: none;
      font-weight: normal;
      margin-left: 2px;
    }
  }

  .land-cost-input {
    width: 35%;
  }

  .crop-share.input {
    width: 45%;
  }

  .submit.input {
    margin-right: 0;
    width: 20%;
  }

  .hidden-description {
    position: relative;

    span.description {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 2px;
      color: $description-font-color;
      font-size: 12px;
      position: absolute;
      line-height: 22px;
      margin: 15px 10px 0 0;
      padding: 0 8px;
      white-space: nowrap;
      visibility: hidden;
    }

    &:hover span.description {
      visibility: visible;
    }
    &:active span.description {
      opacity: 0;
    }
  }
}
